@charset "utf-8";
@import "../global";
@import "../mixins";
@import "../swiper";
@import "datepicker.min";
@import "component";
@import "index";
@import "layout";
@import "contact";
@import "recruit";
@import "welfare";
@import "ethical";
@import "letter";
@import "reportAndColumn";
@import "ir";
@import "portfolio";
@import "techhub";
@import "awards";
@import "campaign";
@import "creative";
@import "esg";
@import "media";
@import "about";
@import "personal";


// new
.partner-desc {
  padding: 0 25px;
  margin-top: 20px;
  font-size: 12px;
  color: #666666;
  text-align: right;
}