@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); /* 400, 700, 800 */
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700);
@font-face {
    font-family: 'nanumgothiclight';
    src: url('../font/NanumGothicLight.eot') format('woff2');
    src: url('../font/NanumGothicLight.woff') format('woff'),
         url('../font/NanumGothicLight.svg#nanumgothiclight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html { height: 100%; }
body {
	height: 100%; 
	font-family: 'Ubuntu', 'Nanum Gothic', sans-serif;
	font-size: 16px;
	line-height: 1.75em; 
	letter-spacing: -0.05em;
	color: #53565a;
	-webkit-text-size-adjust:none;
}
img { max-width: 100%; }
input,select,.select li a { font-family: 'Nanum Gothic', sans-serif; }
#wrap { position: relative; min-height: 100%;}
/* #wrap.main { margin-top: -155px; padding-bottom: 199px; } */
#wrap.main { margin-top: -155px;}
#wrap.sub { margin-top: -207px; padding-bottom: 250px; }
/* .main #container { padding-top: 234px; } */
.main #container { padding-top: 234px; }
.sub #container { padding-top: 324px; /* padding-top: 207px; */ }

/* �꽌釉뚰럹�씠吏� css */
.limit { width: 100%; max-width: 1140px; margin: 0 auto; }
.loading { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: url(../images/sprites/white_bg.png); }
/**************
 �뿤�뜑
**************/
#header { overflow: hidden; position: fixed; top: 0; left: 0; width: 100%; letter-spacing: 0; background: #fff; z-index: 90;}
#header.mini { background: url(../images/mini_bg.png); border-bottom: 0; }
#header.mini .history { display: block; }
#header.mini .gnb { display: none; }
#header.mini .logo a { width:70px; }
#header.mini .util_menu { display: none; }
#header .limit { position: relative; height: 78px; }
#header .history { display: none; position: absolute; top: 15px; left: 80px; line-height: 1.2em; }
#header .history span { padding-left: 30px; background: url(../images/mini_bar.png) no-repeat 10px center;  }
#header .history span:first-child { padding-left: 0; background: none; }
#header .history span.last a { color: #009ac8; padding-bottom: 1px; }
#header .history .depth1 a {font-size: 1.125em; font-weight: 700; color: #c2c2c2; }
#header .history .depth1 a.etc { color: #009ac8; }
#header .history .depth2 a {font-size: 1.125em; font-weight: 700; color: #009ac8; text-decoration: underline; }
#header .history .depth3 a {font-size: 1.375em; font-weight: 800; color: #009ac8; line-height: 1.2em; }
.sub_bar { display: none; width: 100%; height: 38px; border-top: 1px solid #ebebeb;  border-bottom: 1px solid #ebebeb; }

.sub .sub_bar { display: block; }

.logo { float: left; padding: 10px 0; }
.logo a { display: block; }
.logo img { max-width: 100%; }
.gnb { float: left; position: relative; padding-left: 43px; }

.gnb .depth1 { overflow: hidden;  }
.gnb .depth1 > li { overflow: hidden; float: left; padding-top: 15px; padding-bottom: 7px; border-left: 1px solid #ececec; text-align: center; }
.gnb .depth1 > li.works { width: 207px; /* 233px / 865px */ } 
.gnb .depth1 > li.success {  width: 188px;   }
.gnb .depth1 > li.nsm { width: 191px;  /* 189px / 865px; */ border-right: 1px solid #ececec;}

.gnb .depth1 > li > div > a { font-size: 1.125em; font-weight: 700; color: #c2c2c2; line-height: 1em; }
.gnb .depth1 > li > div > a.on { color: #009ac8; }
.gnb .depth1 > li > div > a:hover {  color: #009ac8; }

.gnb .depth2 { overflow: hidden; }
.gnb .depth2 > li { float: left; line-height: 1em; }
.gnb .depth2 > li:first-child { padding-left: 26px; padding-right: 20px;/*background: url(/share/images/header_bar.jpg) no-repeat right 10px;*/ }
.gnb .depth2 > li > a { font-size: 0.8125em; font-weight: 700; color: #363635; }
.gnb .depth2 > li > a.on { color: #009ac8; text-decoration: underline; }
.gnb .depth2 > li > a.hover { color: #009ac8; text-decoration: underline; }
.gnb .depth3 { display: none; overflow: hidden; position: absolute; bottom: -37px; margin-right:-5px; }
.gnb .depth3.on { display: block; }
.gnb .depth3 > li { float: left; margin-left: 30px; }
.gnb .depth3 > li:first-child { margin-left: 0; }
.gnb .depth3 > li > a { font-size: 0.8125em; font-weight: 800; color: #7d7d7d; margin-right: -1px;}
.gnb .depth3 > li > a.on { color: #009ac8;}
.gnb .depth3 > li > a.hover { color: #009ac8;}
.gnb .works .depth3 { left: 0; }
.gnb .works .depth3_2 { left: 30px; }
.gnb .success .depth3 { left: 280px; }
.gnb .nsm .depth3 { right: 0; }
.gnb .nsm .depth3.memu1{right:100px;}/*회사소개 */


.gnb .scroll { display: none; position: fixed; bottom: 0; right: 0; width: 44px; height: 44px; background: #999999; }
.gnb .scroll .f_icon { position: absolute; top: 50%; left: 50%; width: 22px; height: 23px; margin-top: -11.5px; margin-left: -11px; background-position: -137px 0; }
.gnb_close { display: none; position: absolute; top: 0; right: 0; width: 44px; height: 44px; background: #ececec; cursor: pointer; }
.gnb_close .close { position: absolute; top: 50%; left: 50%; width: 16px; height: 17px; margin-top: -8px; margin-left: -8px; background-position: -95px 0; }
.gnb_close:hover, .gnb_close:active { background: #53565a; }
.gnb_close:hover .close, .gnb_close:active .close { background-position-x: -116px; }

.util_menu { position: absolute; top: 30px;  right: 0; font-size: 0.75em; line-height: 1.583em; color: #7d7d7d; font-weight: 400; letter-spacing: 0;}
.util_menu a { color: #7d7d7d; font-weight: 700; letter-spacing: 0;}
.util_menu span { color: #d7d7d7; }
.util_menu .left { margin-right: 9px; }
.util_menu .center { margin: 0 9px; }
.util_menu .right { margin-left: 9px; }

/**************
 �뫖�꽣
**************/
.f_icon { display: block; text-indent: -9999px; background: url(../images/sprites/f_icon640.png) no-repeat; }

.main #footer .history { display: none; }
.sub .request .section_scroll { display: none; }

#footer {/*  position: absolute; left: 0; bottom: 0; */ width: 100%; line-height: 100%; letter-spacing: 0; background: #eae9e7; color: #959595; }
#footer #foot_lang { display:none; }
#footer a { color: #959595; }
#footer .history { padding: 17px 0; border-bottom: 1px solid #d1d0cf; }
#footer .history .f_icon { float: left; width: 16px; height: 16px; text-indent: -9999px; background: url(../images/sprites/f_icon640@2.png) no-repeat; background-position: -190px -48px; }
#footer .history p { font-size: 0.75em; }
#footer .history p a { font-family: 'Nanum Gothic'; font-weight: 700; }
#footer .history p .depth1 a:hover,
#footer .history p .depth2 a:hover,
#footer .history p .depth3 a:hover{ color: #009ac8;  text-decoration: underline;}
#footer .history p .arrow { margin: 0 5px; }
#footer .address a:hover { color: #009ac8;  text-decoration: underline;}

#footer .f_info {  position: relative; overflow: hidden; padding-top: 50px}
#footer .limit {/* padding-bottom: 73px */ padding-bottom:52px; margin-top:-20px}
#footer .f_info .f_name { display: block; float: left; margin-bottom: 15px;}
#footer .f_info .foot_sns {  position: absolute; top: 37px; right: 0; }
#footer .f_info .foot_sns ul { overflow: hidden; }
#footer .f_info .foot_sns ul li { float: left; margin-left: 8px; }
#footer .f_info .foot_sns ul li a { display: block; text-indent: -9999px; width: 44px; height: 44px; }
#footer .f_info .foot_sns ul li a.blog { background-position: 0 -37px; }
#footer .f_info .foot_sns ul li a.face { background-position: -48px -37px; }
#footer .f_info .foot_sns ul li a.insta { background-position: -196px -37px; }
#footer .f_info .foot_sns ul li a.square { background-position: -97px -37px; }
#footer .f_info .foot_sns ul li a.square2 { background-position: -146px -37px; }
#footer .f_info .foot_sns ul li a:hover,
#footer .f_info .foot_sns ul li a:active{ background-position-y: -86px; }

#footer .f_info .foot_list { float: left; margin-left: 49px;}
#footer .f_info .foot_list ul { overflow: hidden; }
#footer .f_info .foot_list ul li { float: left; margin-right: 18px; margin-bottom: 11px; padding-right: 18px; background: url(../images/foot_bar.jpg) no-repeat right center; }
#footer .f_info .foot_list ul li.last { padding: 0; background: none; }
#footer .f_info .foot_list ul li a { font-size: 0.875em; font-weight: 800; }
#footer .f_info .foot_list ul li a:hover { color: #009ac8; text-decoration: underline; }

#footer .f_info .address { clear: both; font-size: 0.75em; margin-bottom: 3px; }
#footer .f_info .address ul { overflow: hidden; }
#footer .f_info .address ul li { float: left; margin-bottom: 3px; margin-right: 25px; }
#footer .f_info .address ul li.clear3 { clear: both; }

.section_scroll { overflow: hidden; position: absolute; top: 8px; left: 163px; }
.section_scroll > div { float: left; border: 3px solid #fff; cursor: pointer; }
.section_scroll > div.on { border: 3px solid #003056; }

.section_scroll_other { overflow: hidden; position: absolute; top: 8px; left: 163px; }
.section_scroll_other > div { float: left; border: 3px solid #fff; cursor: pointer; }
.section_scroll_other > div.on { border: 3px solid #003056; }

.section_scroll_other_2 {display:none}

.main .top_btn { display: none; }

.top_btn {  position: absolute; bottom: 58px; right: 0; font-size: 0.75em; color: #959595; text-align: center; letter-spacing: 0.05em;  cursor: pointer; }
.top_btn .sub_icon { width: 16px; height: 10px; margin: 0 auto 7px; background-position: -167px -62px; }

.f_indicator { position: fixed; right: 50%; bottom: 90px; margin-right: -575px;  font-size: 0.75em; text-align: center; letter-spacing: 0.05em; z-index: 10;}
.detail_btn { margin-bottom: 20px; }
.detail_btn a { display: block; color: #444444; }
.detail_btn.prev .sub_icon { width: 11px; height: 14px; margin: 0 auto; background-position: 0 -130px;  }
.detail_btn.next .sub_icon { width: 11px; height: 14px; margin: 0 auto; background-position: -21px -130px;  }
.detail_btn.list .sub_icon { width: 12px; height: 10px; margin: 0 auto; background-position: -133px -130px;  }

.main .request_wrap { background: #fff; }

.request { position: fixed; left: 0; bottom: 0; width: 100%; line-height: 100%; z-index: 10; }
.request > .request_wrap { position: relative; width: 100%; max-width: 1140px; margin: 0 auto; }
.request > .request_wrap > .home,
.request > .request_wrap > .menu,
.request > .request_wrap > .call { display: none; }
.request_wrap > div > a { display: block; position: relative; height: 100%;}
.request > .request_wrap > .home span { position: absolute; top: 50%; left: 50%; width: 33px; height: 31px; margin-left: -16.5px; margin-top: -15.5px; background-position: 0 0; }
.request > .request_wrap > .menu span { position: absolute; top: 50%; left: 50%; width: 26px; height: 20px; margin-left: -13px; margin-top: -10px; background-position: -65px 0; }
.request > .request_wrap > .call span { position: absolute; top: 50%; left: 50%; width: 26px; height: 28px; margin-left: -13px; margin-top: -13px; background-position: -36px 0; }
.request > .request_wrap > .btn { position: relative; width: 156px; padding: 19px 0; font-weight: 800; text-align: center; color: #fff; background: #009ac8; cursor: pointer; }
.request > .request_wrap > .btn > span { position: absolute; top: 7px; left: 50%; width: 11px; height: 7px; margin-left: -5.5px; background-position: -66px -24px; }
.request > .request_wrap > .btn:hover { background: #00677f; }
.request > .request_wrap > .btn.on > span { background-position-x: -81px; }

.request .request_box { display: none; position: absolute; bottom: 54px; left: 0; width: 100%; background: #363636;  }
.request .request_box > div { width: 100%; max-width: 1140px; margin: 0 auto; color: #d0d0ce; background: #363636; }
.request .request_box > div .request_title { display: none; margin-bottom: 20px; font-size: 1.5em; line-height: 1em; color: #d0d0ce; }
.request .request_box > div .close { position: absolute; top: 16px; right: 0; cursor: pointer; }
.request .request_box > div .close > span { width: 24px; height: 24px; background-position: -102px -134px; }
.request .request_box > div .close:hover > span,
.request .request_box > div .close:active > span { background-position-x: -136px; }
.request .request_box > div .request_left { float: left; width: 50%; }
.request .request_box > div .request_left .left_wrap { width: 88.7719298%; /* 506px / 570px */  margin: 0 auto; padding: 20px 0; }
.request .request_box > div .request_left .left_wrap .col { height: 34px; padding-top: 16px; }
.request .request_box > div .request_left .left_wrap .col.first { height: 34px; padding-top: 0; }
.request .request_box > div .request_left .left_wrap .col .left_text { float: left; width: 19.16996%; /* 97px / 506px */ }
.request .request_box > div .request_left .left_wrap .col .left_input { float: left; width: 80.83003%; /* 409px / 506px */  } 
.request .request_box > div .request_left .left_wrap .col .left_input .mail_input { float: left; width: 74.0831295%; /* 303px / 409px */}

.request .request_box > div .request_left .mail_id { width: 29.042904%; /* 88px / 303px */ padding: 5px 2.640264%;/* 8px / 303px */}
.request .request_box > div .request_left .mail_address {width: 52.1452145%; /* 158px / 303px */ padding: 5px 2.640264%;/* 8px / 303px */  }
.request .request_box > div .request_left .select_input { float: right; width: 25.42787286%;/* 104px / 409px */ height: 33px; }
.request .request_box > div .request_left .select_input select { width: 100%;/* 70px / 104px */ *height: 100%; padding: 8px 0;  border: 0; color: #d0d0ce; background: #53565a; }


.request .request_box > div .request_right  {float: right; width: 50%; }
.request .request_box > div .request_right .right_wrap { position:relative; width: 88.7719298%; /* 506px / 570px */  margin: 0 auto; padding: 25px 0 20px; }

.request .request_box > div .request_right .right_wrap .simple_call { padding-bottom: 20px; font-weight: 700; font-size: 1em; line-height: 1.5em; letter-spacing: 0; }
.request .request_box > div .request_right .right_wrap .right_privacy { height: 34px; }

.request .request_box > div .request_right .right_wrap .right_privacy { overflow: hidden; font-size: 0.8125em; background: #53565a; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_check { float: left; cursor: pointer; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_check img { margin-right: 5px; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view {float: right; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn { display: inline-block; width: 84px; height: 34px; margin-left: 5px; color: #53565a; font-weight: 700; line-height: 34px; text-align: center; background: #d0d0ce;}
.privacy_view_view_btn { display: inline-block; width: 230px; height: 34px; margin-left: 5px; color: #53565a; font-weight: 700; line-height: 34px; text-align: center; background: #d0d0ce;}
.privacy_view_view_btn > span { text-indent: 0; background: none; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn > span { text-indent: 0; background: none; }
.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn:hover { color: #fff; background: #009ac8; }

.request .request_box > div .request_right .right_wrap .right_btn { overflow: hidden; height: 84px; margin-top: 16px; }
.request .request_box > div .request_right .right_wrap .right_btn a { display: block; float: left; height: 100%;  line-height: 84px; text-align: center; }
.request .request_box > div .request_right .right_wrap .right_btn a.ok { width: 100%; font-size: 2.25em; color: #fff; background: #009ac8; }
.request .request_box > div .request_right .right_wrap .right_btn a.ok:hover { background: #00677f; }
.request .request_box > div label { display: block;  font-size: 0.8125em; line-height: 34px; }
.request .request_box > div input { width: 96.088%;/* 393px / 409px */  padding: 5px 1.95599%;/* 8px / 409px */ border: 0; font-size: 1.25em; font-weight: 400; color: #d0d0ce; background: #53565a; }
.request .request_box > div textarea { width: 96.088%;/* 393px / 409px */  padding: 5px 1.95599%;/* 8px / 409px */ border: 0; font-size: 1.25em; font-weight: 400; color: #d0d0ce; background: #53565a; }

.privacy_layer { display: none; position: fixed; top: 50%; left: 50%; width: 400px; height: 500px; margin-top: -250px; margin-left: -200px; background: url(../images/mask.png);  }
.privacy_layer.on { display: block; }
.privacy_layer p { padding: 30px; font-size: 12px; line-height: 22px; color: #d0d0ce; }
.privacy_layer p > span { font-size: 2.5em; line-height: 46px; }

.privacy_layer .layer_close { position: absolute; bottom: 0; left: 0; width: 400px; height: 45px; background: #363636; }
.privacy_layer .layer_close a { display: block; width: 84px; height: 34px; margin: 6px auto 0; color: #53565a; text-align: center; line-height: 34px; background: #d0d0ce; }


/* UI Object */
.paginate_complex{ line-height:normal;text-align:center}
.paginate_complex img { vertical-align: top; }
.paginate_complex a,
.paginate_complex strong{display:inline-block;position:relative;z-index:2; width: 30px; height: 30px; border: 1px solid #d0d0ce; background-color:#fff; font-size: 0.8125em; color:#323232; line-height: 30px; text-decoration:none;vertical-align:top}
.paginate_complex a:hover,
.paginate_complex a:active,
.paginate_complex a:focus{background-color:#f8f8f8}
.paginate_complex strong{ border: 1px solid #009ac8; color:#fff; background: #009ac8;}
.paginate_complex .direction:hover,
.paginate_complex .direction:active,
.paginate_complex .direction:focus{color:#323232;background-color:#fff}

.paginate_complex a > span.arrow { position: absolute; top: 50%; left: 50%; margin-top: -7px; margin-left: -5.5px; width: 11px; height: 14px; }
.paginate_complex a > span.double_arrow { position: absolute; top: 50%; left: 50%; width: 13px; height: 14px;  margin-top: -7px; margin-left: -6.5px;}
.paginate_complex a.prev > .arrow { background-position: -163px -362px; }
.paginate_complex a.prev > .double_arrow { background-position: -137px -362px;  }
.paginate_complex a.next > .arrow { background-position: -200px -362px; }
.paginate_complex a.next > .double_arrow { background-position: -224px -362px;  }

.paginate_complex a.direction:hover { border: 1px solid #009ac8; }
.paginate_complex a.direction:hover > .sub_icon { background-position-y: -337px; }

.paginate_complex.type2 a.direction:hover { color: #fff; background: #009ac8; }
.paginate_complex.type2 a.direction:hover > .sub_icon { background-position-y: -389px; }
.paginate_complex.type2 a.list_go:hover { color: #fff; background: #009ac8; }
.paginate_complex.type2 a.list_go:hover > .sub_icon { background-position-y: -341px; }
/* //UI Object */

/* UI Object */
.select{ display:inline-block; *display:inline; position:relative; background:#fff; line-height:normal; vertical-align:middle; *zoom:1}
.select *{ cursor:pointer}
.select .my_value{ overflow:visible; position:relative; top:0; left:0; z-index:2; border:1px solid #d0d0ce; background:transparent; text-align:left; line-height:19px; _line-height:normal}

.select button.my_value{ width:120px; margin: 0; padding: 6px 0 7px; *padding: 5px 0 5px; *padding-left:5px; text-indent:7px; *text-indent:0; color: #53565a;  font-family: 'Nanum Gothic', sans-serif; }
.select div.my_value{ height:19px; text-indent:8px}
.select .ctrl{ position:absolute; top:0; right:0; padding: 1px 0; border-left: 1px solid #d0d0ce; }
.select .arrow{ position:absolute; width:0; height:0; top:9px; right:6px; border-top:3px solid #d0d0ce; border-left:3px solid #d0d0ce; border-right:3px solid #fff; font-size:0; line-height:0}
.select ul{ overflow:auto; position:absolute; top:31px; left:0; width:100%; max-height: 120px; border:0; border-top:1px solid #bababa; border-bottom:1px solid #d0d0ce; background:#fff; list-style:none; z-index: 10; }
.select ul.a_list{ display:none}
.select.open ul.a_list{ display:block}
.select ul.i_list{ left:-2000%}
.select.open ul.i_list{ left:0}
.select li{ overflow:hidden; position:relative; border-left:1px solid #d0d0ce; border-right:1px solid #d0d0ce; white-space:nowrap}
.select li input.option{ position:absolute; width:100%; height:20px; line-height:20px}
.select li label{ position:absolute; top:0; left:0; width:100%; height:18px; background:#fff; color:#767676; line-height:18px; text-indent:8px; *text-indent:6px}
.select li a{ display:block; padding: 7px 0; background:#fff; font-size: 0.75em; color:#53565a; line-height:15px; text-indent:8px; *text-indent:6px; text-decoration:none}
.select li.hover *{ background:#999; color:#fff}
.select_go{ overflow:visible; height:21px; width:28px; *margin:-1px 0 -1px 4px; padding:0; border:1px solid #d0d0ce; background:#eee; font:bold 11px Tahoma; color:#767676; line-height:19px; _line-height:normal; vertical-align:middle; cursor:pointer}
/* //UI Object */



