
.m_logo { display: none; }

.main .section { overflow: hidden; height: 360px; width:100%;}
.main .m_logo{height:205px; width:100%;}/*160602Ãß°¡*/
.main .section .limit { position: relative; height: 100%; width:100%;}
.main .section .limit a { color: #fff; }
.main .section .left,
.main .section .right { position: relative; width: 25.87719298%; /* 250px / 1140px */ height: 100%; z-index: 1;}
.main .section .left > p,
.main .section .right > p { padding-top: 90px; }
.main .section .left { float: left; }
.main .section .main_sec_title { position: absolute; top: 38px; left: 0; font-size: 0.875em; font-weight: 700; }
.main .section .left p {  font-family: 'nanumgothiclight'; font-size: 2.25em; line-height: 1.2em; word-break:break-all; letter-spacing: -1.1px;}
.main .section .left p strong { font-weight: 800; }
.main .section .right { float: right; font-size: 0.875em; font-weight: 800; line-height: 1.714em; }
.main .section .right .btn { position: absolute; bottom: 40px; left: 50%; margin-left: -41px; z-index: 10; }
.main .section .center { display: table; position: absolute; width: 100%; height: 100%; /* width: 364px; width: 32.8070175438%;  374px / 1140px margin: 0 auto;*/text-align: center; }
.main .section .center > .middle { display: table-cell; vertical-align: middle; }
.main .section .center > .middle > .inner { margin-left: auto; margin-right: auto; width: 38.333%; /* 549px / 1140px */}

.main .section .center { *display: inline; *top: 0; *left: 0;}
.main .section .center > .middle { *display: inline; *top: 50%; *position: relative; }
.main .section .center > .middle > .inner { *display: inline; *top: -50%; *position: relative; }


.main .section .center img { max-width: 100%; }
.main .section .center p { font-family: 'nanumgothiclight';  font-size: 3.75em; line-height: 1.2em; word-break: break-all; }
/*.main .section .center p { max-width: 437px; margin: 0 auto; padding-top: 70px; font-size: 3.75em; line-height: 1.2em; word-break: keep-all;}*/
.main .section .center > .middle > .inner.full_text {width: 100%;/*  padding-top: 126px;  */text-align: center; }
.main .section .center > .middle > .inner.full_text p { font-family: 'nanumgothiclight'; margin-bottom: 20px; font-size: 2.25em; line-height: 1.2em; }
.main .section .center > .middle > .inner.full_text span {  font-size: 0.875em; line-height: 1.714em; font-weight: 800; }

.main .section .ad_list { height: 100%; text-align: center; }
.main .section .ad_list ul { overflow: hidden; width: 100%; max-width: 1080px; height: 100%;  margin: 0 auto;}
.main .section .ad_list ul li { height: 100%;  float: left; width: 12.5%; /* 120px / 960px */}
.main .section .ad_list ul li > div{ height: 100%;  padding-top: 101px;  border-left: 1px solid #7fe4d2; }
.main .section .ad_list ul li:first-child > div { border-left: 0; }
.main .section .ad_list ul li a { font-size: 1.125em; line-height: 1em; font-weight: 700; text-align: center; color: #fff; }
.main .section .ad_list ul li a p { padding-top: 22px; }

.main .section .left .fountain_box { overflow: hidden; max-width: 224px; margin: 128px auto 0;  }
.main .section .left .fountain_box .arrow_l { float: left; margin-top: 30px;}
.main .section .left .fountain_box .arrow_r { float: right; margin-top: 30px; }
.main .section .left .fountain_box .fountain { text-align: center; }


.sec1 { color: #fff; background: #00677f;}
.sec2 { color: #464646; background: #d7d7d7; }
.sec3 { color: #fff; background: #6865a9;}
.section.full_bg {
	color: #fff;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  }
.sec4 { color: #fff; background: #56aaea;}
.main .section.sec4 .left { letter-spacing: -2.1px; }
.sec5 { background: #47d9bf; }

.sec6 { color: #00a99d; background: #f7f3eb; }
.sec6 .only { padding-top: 40px;  font-family: 'nanumgothiclight';  font-size: 2.25em; line-height: 1.2em; text-align: center; color: #53565a;}
.sec6 .left div  { padding-top: 42px; text-align: center; }
.sec6 .right p.ad_copy { padding-top: 84px; /*font-size: 0.875em;*/ font-weight: 800; text-align: center; line-height: 1.2em; color: #00a99d;}
.sec6 .right p.ad_copy img {margin-bottom:54px}

.sec6 .right p span{ display: block;}
.sec6 .right p span img { margin-bottom: 46px; }

.main .sec6 .left,
.main .sec6 .center,
.main .sec6 .right { height: auto; }
.main .sec6 .center { padding-top: 53px; }
.main .sec6 .center .service_copy,
.main .sec6 .left .service_copy{  font-family: 'Nanum Gothic'; font-size: 0.875em; color: #00a99d; font-weight: 800;}
.main .sec6 .left .service_copy {  padding-top: 37px; }
.main .sec6 .center .service_copy { padding-top: 43px; }

.main .sec7 { height: auto; text-align: center; background: #00677f; }
.main .sec7 .limit { padding: 40px 0; }
.main .sec7 p { font-family: 'nanumgothiclight'; font-size: 2.25em; color: #fff; line-height: 1.1em;}
.main .sec7 span { font-size: 0.875em; color: #79c4d5; line-height: 2em; font-weight: 700;}


.jejucafe { background: #a78dce; }
.ggstory {background:#eef9fe}
.main .section.ggstory .limit a { color: #7b5ea7;  }


