@media print {
  /* @page { margin: 0; } */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  #printJS-form {
    padding: 5px;
  }
  legend,
  .bothButton,
  [id^=skin_] {display: none !important;}

  .colTable { page-break-inside:auto; }
  .colTable td { border:1px solid lightgray; }
  .colTable tr { page-break-inside:auto; }
  .colTable th {
    width: 150px;
    padding-right: 15px;
  }
  .colTable td {
    width: calc((100% - 315px)/2);
  }
  .colTable textarea {width: 100% !important;}
}

#printarea {
  width: 0;
  height: 0;
  visibility: hidden;
}