@charset "UTF-8";
.header .navmenu .navmenu__list:nth-child(3) .navmenu__link:nth-child(3) {
	display: none !important;
}

.sitemap .gnb .menu:nth-child(3) li:nth-child(4) {
	display: none !important;
}

.main {
	/* KEYVISUAL */
	/* COMMON */
	/**** SECTIONS IN MAIN ****/
}
.main .visual {
	position: relative;
	height: 100vh;
	z-index: 1;
	width: 100%;
	min-width: 1200px;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.main .visual__image {
	width: 100%;
	height: inherit;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}
.main .visual .image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.main .visual__video {
	width: 100%;
	height: inherit;
	background-color: #D33E38;
}
.main .visual__video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.main .container {
	width: 100%;
	max-width: none;
	margin: 0;
	padding: 0;
}
.main .section {
	width: 100%;
	max-width: 1200px;
	margin: 150px auto;
	padding: 0;
	overflow: hidden;
}
.main .section--wide {
	max-width: 1920px;
}
.main .section--full {
	max-width: none;
}
.main .section__inner {
	max-width: 1200px;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main .section__content--row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.main .section__title {
	font-size: 40px;
	line-height: 60px;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
}
.main .section__label {
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	color: #EA2126;
	margin-bottom: 30px;
}
.main .section__desc {
	font-size: 18px;
	line-height: 30px;
	font-family: "NS RG", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	margin-top: 15px;
}
.main .banner {
	overflow: hidden;
}
.main .banner__footer {
	padding-top: 125px;
	padding-bottom: 90px;
}
.main .banner__footer .banner__content {
	display: block;
}
.main .banner__footer .banner__title {
	margin: 0 auto;
	position: relative;
	font-size: 40px;
}
.main .banner__footer .banner__title::after {
	content: "";
	position: absolute;
	left: 100%;
	bottom: 75%;
	width: 39px;
	height: 33px;
	background-image: url(../../../assets/images/w/dummy/@icon-contact_us.png);
	background-size: 100%;
	background-position: 0 0;
	background-repeat: no-repeat;
}
.main .banner__footer .button__wrap {
	margin-top: 35px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.main .banner__footer .button {
	min-width: 300px;
	padding: 10px 0;
	font-size: 22px;
}
.main .image-block {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 24px;
	overflow: hidden;
}
.main .graph {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
}
.main .graph__title {
	opacity: 0;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: "NS MD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	text-align: end;
}
.main .graph__info {
	opacity: 0;
	position: absolute;
	right: calc(100% + 45px);
	bottom: 8px;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	font-family: "basic-sans", sans-serif, "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	font-size: 26px;
	line-height: 26px;
	font-weight: 600;
}
.main .graph__info--unit {
	position: absolute;
	right: -22.5px;
	bottom: 1.5px;
	font-family: "NS DL", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	font-size: 20px;
	line-height: 26px;
}
.main .graph__bar {
	opacity: 0;
	width: 0;
	position: relative;
	max-width: 100%;
	height: 40px;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-bottom: 50px;
	margin-left: auto;
	border-radius: 20px;
}
.main .graph__bar--black {
	background-color: #000000;
	color: #000000;
}
.main .graph__bar--red {
	background-color: #D12327;
	color: #D12327;
}
.main .graph__bar--grey {
	background-color: #666666;
	color: #666666;
}
.main .new_graph {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 208px;
}
.main .new_graph [class^=new_graph--] {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #fff;
}
.main .new_graph .graph--inner {
	position: absolute;
	left: 50%;
	top: 0;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	color: #fff;
	height: 208px;
	z-index: 1;
}
.main .new_graph .new_graph-title {
	margin-bottom: 5px;
	font-size: 14px;
}
.main .new_graph .new_graph-desc {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	gap: 4px;
	font-size: 80px;
	font-weight: 700;
	line-height: 0.8;
}
.main .new_graph .new_graph-desc .unit {
	display: inline;
	font-size: 20px;
	font-weight: 500;
}
.main .new_graph .new_graph-desc .unit.bold {
	line-height: 0.9;
	font-size: 60px;
	font-weight: 700;
}
.main .new_graph .new_graph--1 {
	width: 356px;
	background-color: #6C6C6C;
	border-top-right-radius: 104px;
	border-bottom-right-radius: 104px;
}
.main .new_graph .new_graph--2 {
	width: 129px;
}
.main .new_graph .new_graph--2 .graph--inner {
	width: 208px;
	background-color: rgba(234, 33, 38, 0.9);
	border-radius: 50%;
	z-index: 2;
}
.main .new_graph .new_graph--3 {
	width: 445px;
	background-color: rgba(47, 47, 47, 0.97);
	border-radius: 104px;
}
.main .new_graph .new_graph--4 {
	width: 270px;
}
.main .new_graph .new_graph--4 .graph--inner {
	left: inherit;
	right: 0;
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	width: 315px;
	background-color: #B7B7B7;
	border-top-left-radius: 104px;
	border-bottom-left-radius: 104px;
	z-index: -1;
}
.main .box__title {
	padding-left: 25px;
	padding-right: 25px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-size: 60px;
	line-height: 82px;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	text-align: center;
	color: #ffffff;
	background-size: cover;
	background-position: center 0;
	background-repeat: no-repeat;
}
.main .box__title--center {
	color: #000000;
}
.main .box__desc {
	display: block;
	margin-top: 30px;
	font-size: 28px;
	font-family: "NS DL", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
}
.main .box__slogan {
	font-size: 50px;
	text-transform: uppercase;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	margin-bottom: 30px;
}
.main .box__slogan--small {
	font-size: 32px;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	margin-bottom: 10px;
}
.main .box__text {
	display: block;
	max-width: 470px;
	font-family: "NS RG", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
}
.main .box__text--1 {
	font-size: 18px;
	line-height: 26px;
	opacity: 0.8;
}
.main .box__text--2 {
	font-size: 14px;
	margin-top: 40px;
}
.main .box *:not(.box__content) {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.main .box__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	color: #ffffff;
	-webkit-transition: all 1.5s ease;
	transition: all 1.5s ease;
}
.main .box__content--row {
	width: 100%;
	height: inherit;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main .box-item--center {
	z-index: 1;
	-webkit-box-flex: 1.7;
	    -ms-flex: 1.7;
	        flex: 1.7;
	background-color: #F7F7F7;
}
.main .box-item--left {
	position: relative;
	background-image: url(../../images/w/visual/performance_data_bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.main .box-item--left:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.main .box-item--left .box__title {
	z-index: 3;
	cursor: pointer;
}
.main .box-item--left .box__content {
	z-index: 2;
	background-color: #F7F7F7;
}
.main .box-item--left .box__inner {
	display: block;
}
.main .box-item--left .button__icon-arrow_right {
	margin-left: 15px;
}
.main .box-item--left:hover .box__title p {
	display: none;
}
.main .box-item--right {
	position: relative;
	background-image: url(../../images/w/visual/performance_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.main .box-item--right:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}
.main .box-item--right .box__title {
	z-index: 2;
	cursor: pointer;
}
.main .box-item--right .box__content {
	z-index: 3;
	background-color: #CF2327;
}
.main .box-item--right .box__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-align: left;
}
.main .box-item--right .button__icon-arrow_left {
	margin-right: 15px;
}
.main .box-item--right:hover .box__title p {
	display: none;
}
.main .box__video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}
.main .box__video video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.main .box .accordian {
	width: 100%;
	max-width: 840px;
	margin: 0 auto 60px;
	overflow: hidden;
}
.main .box .accordian__item {
	margin: 0;
}
.main .box .accordian__title {
	padding-top: 50px;
}
.main .box .accordian__title::before {
	top: 65px;
	right: 5px;
}
.main .box .accordian__title a {
	font-size: 28px;
	line-height: 40px;
	font-weight: 300;
	font-family: "basic-sans", sans-serif, "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	color: #666666;
}
.main .box .accordian__title span {
	margin-right: 48px;
	font-size: 40px;
	line-height: inherit;
	font-weight: 600;
	font-family: "basic-sans", sans-serif, "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	color: #000000;
}
.main .box .accordian__item--active .accordian__title a {
	color: #000000;
}
.main .box .accordian__content p {
	padding-left: 85px;
	color: #666666;
}
.main [data-section=service] {
	margin: 150px 0 0;
	padding: 0 0 150px;
	position: relative;
	overflow: visible;
}
.main [data-section=service] .section__inner {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.main [data-section=service] .section__content {
	position: absolute;
	top: 0;
	right: 0;
	width: 65%;
}
.main [data-section=service] .section__head {
	position: absolute;
	top: 0;
	left: 0;
}
.main [data-section=service].approached .section__head {
	position: fixed;
	top: 150px;
}
.main [data-section=service] .button__wrap {
	color: #ffffff;
	margin-top: 50px;
	text-align: left;
}
.main [data-section=service] .button__icon-out {
	display: block;
	font-size: 16px;
	font-family: "NS MD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
}
.main [data-section=service] .button__icon-out i {
	width: 8px;
	height: 14px;
	margin-left: 6px;
}
.main [data-section=service] .button__icon-out i:after {
	margin-top: 2px;
	width: 8px;
	height: 8px;
	border-color: #ffffff;
}
.main [data-section=service] .button__icon-out + .button__icon-out {
	margin-top: 10px;
}
.main [data-section=service] [data-colorstyle=black] {
	color: #000000;
}
.main [data-section=service] [data-colorstyle=black] i:after {
	border-color: #000000;
}
.main [data-section=service] .image-block:nth-of-type(1) {
	background-image: url(../../images/w/visual/block_001.jpg);
}
.main [data-section=service] .image-block:nth-of-type(2) {
	background-image: url(../../images/w/visual/block_002.jpg);
}
.main [data-section=service] .image-block:nth-of-type(3) {
	background-image: url(../../images/w/visual/block_003.jpg);
}
.main [data-section=service] .image-block:nth-of-type(4) {
	background-image: url(../../images/w/visual/block_004.jpg);
}
.main [data-section=service] .image-block:nth-of-type(5) {
	background-image: url(../../images/w/visual/block_005.jpg);
}
.main [data-section=service] .image-block:nth-of-type(6) {
	background-image: url(../../images/w/visual/block_006.jpg);
}
.main [data-section=service] .image-block:nth-of-type(7) {
	background-image: url(../../images/w/visual/block_007.jpg);
}
.main [data-section=service] .image-block:nth-of-type(8) {
	background-image: url(../../images/w/visual/block_008.jpg);
}
.main [data-section=service] .image-block:nth-of-type(9) {
	background-image: url(../../images/w/visual/block_009.jpg);
}
.main [data-section=service] .image-block:nth-of-type(10) {
	background-image: url(../../images/w/visual/block_0010.jpg);
}
.main [data-section=service] .image-block:nth-of-type(1),
.main [data-section=service] .image-block:nth-of-type(2),
.main [data-section=service] .image-block:nth-of-type(3),
.main [data-section=service] .image-block:nth-of-type(6),
.main [data-section=service] .image-block:nth-of-type(7),
.main [data-section=service] .image-block:nth-of-type(10) {
	background-position: right center;
}
.main [data-section=service] .image-block:nth-of-type(2) {
	background-position: center center;
}
.main [data-section=service] .image-block:nth-of-type(4) {
	background-position: right center;
}
.main [data-section=service] .image-block {
	z-index: 1;
	position: relative;
	max-width: 350px;
	height: 450px;
	margin-left: 40px;
	margin-bottom: 40px;
	opacity: 0;
	margin-top: 500px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.main [data-section=service] .image-block::before {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: inherit;
	max-width: inherit;
	height: inherit;
}
.main [data-section=service] .image-block:nth-of-type(2n) {
	-webkit-transform: translateY(40px);
	        transform: translateY(40px);
}
.main [data-section=service] .image-block:last-of-type {
	margin-bottom: 0;
}
.main [data-section=service] .image-block__title {
	font-size: 22px;
	font-family: "NS BD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
}
.main [data-section=service] .image-block__slogan {
	font-size: 16px;
	line-height: 26px;
	font-family: "NS RG", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	margin-top: 12px;
}
.main [data-section=service] .image-block .link__wrap {
	display: block;
	width: 100%;
	height: 100%;
	padding: 48px 48px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	color: #ffffff;
}
.main [data-section=service] .image-block .button__wrap {
	position: absolute;
	bottom: 48px;
	left: 48px;
	text-align: left;
}
.main [data-section=service] .image-block .link__wrap {
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	cursor: pointer;
}
.main [data-section=service] .image-block .button__wrap {
	position: relative;
	margin-top: 15px;
	bottom: inherit;
	left: inherit;
}
.main [data-section=service] .image-block:hover::before, .main [data-section=service] .image-block:focus::before {
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(50%), to(rgba(0, 0, 0, 0)));
	background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 50%, rgba(0, 0, 0, 0));
}
.main [data-section=service] .image-block:hover .link__wrap, .main [data-section=service] .image-block:focus .link__wrap {
	opacity: 1;
}
.main [data-section=service] .image-block.slidein {
	opacity: 1;
	margin-top: 0;
}
.main [data-section=performance] .box__title--center i {
	display: block;
	margin: 0 auto 10px;
	width: 136px;
	height: 60px;
	background-image: url(../../images/w/visual/@title__performance.png);
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.main [data-section=performance] .image-block {
	height: 100%;
	max-width: 475px;
	margin-left: auto;
	background-image: url(../../../assets/images/w/visual/main__performance.png);
}
.main [data-section=performance] .box-item--left {
	min-width: 32.292%;
}
.main [data-section=performance] .box-item--left .box__content {
	max-width: 67.708%;
}
.main [data-section=performance] .box-item--left .box__inner {
	padding-bottom: 0;
	opacity: 0;
	-webkit-transform: translateX(-500px);
	        transform: translateX(-500px);
	-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main [data-section=performance] .box-item--left .accordian * {
	-webkit-transition: none;
	transition: none;
}
.main [data-section=performance] .box-item--right .box__inner {
	height: 630px;
	opacity: 0;
	-webkit-transform: translateX(500px);
	        transform: translateX(500px);
	-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main [data-section=performance] .box-item--right .image-block {
	opacity: 0;
	-webkit-transform: translateX(1000px);
	        transform: translateX(1000px);
	-webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.main [data-section=performance] .box-item--right .button__wrap {
	margin-top: 80px;
	font-size: 18px;
	line-height: 25px;
	font-family: "NS MD", "Malgun Gothic", Dotum, "돋움", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "굴림", arial, sans-serif !important;
	text-align: left;
}
.main [data-section=performance] .box-item--right .button__icon-back i {
	width: 25px;
	height: 25px;
	margin-right: 6px;
}
.main [data-section=performance] .box-item--right .button__icon-back i:after {
	width: 6px;
	height: 6px;
	border-color: #D12327;
}
@-webkit-keyframes graphBarIn {
	0% {
		-webkit-transform: translateX(-100px);
		        transform: translateX(-100px);
	}
	100% {
		width: 100%;
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes graphBarIn {
	0% {
		-webkit-transform: translateX(-100px);
		        transform: translateX(-100px);
	}
	100% {
		width: 100%;
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@-webkit-keyframes graphTextIn {
	0% {
		-webkit-transform: translateX(-150px);
		        transform: translateX(-150px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
@keyframes graphTextIn {
	0% {
		-webkit-transform: translateX(-150px);
		        transform: translateX(-150px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}
.main [data-section=partners] {
	margin-bottom: 0;
}
.main [data-section=partners] .section__content {
	position: relative;
	margin-top: 70px;
}
.main [data-section=partners] .gragh__index {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	color: #666666;
	font-size: 16px;
}
.main [data-section=partners] .graph--1 .graph__info {
	right: calc(100% + 65px);
}
.main [data-section=partners] .graph--1 .graph__info--unit {
	right: -44.5px;
	bottom: 0.5px;
}
.main [data-section=partners] .logo-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	max-width: 1200px;
	padding: 0;
	margin: 40px auto 75px;
	border: 1px solid transparent;
}
.main [data-section=partners] .logo-list .image-block {
	width: 100%;
	max-width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.4;
}
.main [data-section=partners] .logo-list .image-block:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}
.main [data-section=partners] .logo-list__item {
	width: calc(25% - 1px);
	padding: 20px 0px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 !important;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	border-right: 1px solid transparent;
}
.main [data-section=partners] .logo-list--row {
	border-bottom: 1px solid transparent;
}
.main [data-section=partners] .logo-list--row:last-of-type {
	border-bottom: 0;
}
.main [data-section=partners] .logo-list__item:nth-of-type(4n) {
	border-right: 0;
}
.main [data-section=partners].approached .graph__bar {
	-webkit-animation: 1.5s graphBarIn ease forwards;
	        animation: 1.5s graphBarIn ease forwards;
}
.main [data-section=partners].approached .graph__title, .main [data-section=partners].approached .graph__info, .main [data-section=partners].approached .gragh__index {
	-webkit-animation: 1s graphTextIn ease forwards;
	        animation: 1s graphTextIn ease forwards;
}
.main [data-section=partners].approached .graph--2 .graph__bar, .main [data-section=partners].approached .graph--2 .graph__title, .main [data-section=partners].approached .graph--2 .graph__info {
	-webkit-animation-delay: 0.25s;
	        animation-delay: 0.25s;
}
.main [data-section=partners].approached .graph--3 .graph__bar, .main [data-section=partners].approached .graph--3 .graph__title, .main [data-section=partners].approached .graph--3 .graph__info {
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
.main [data-section=partners].approached .section__content .gragh__index {
	-webkit-animation-delay: 0.95s;
	        animation-delay: 0.95s;
}
.main [data-section=contractors] {
	background-color: #ffffff;
}
.main [data-section=contractors] .swiper-container {
	height: auto;
}
.main [data-section=contractors] .swiper-wrapper {
	padding: 25px 0;
	-webkit-transition-timing-function: linear;
	        transition-timing-function: linear;
}
.main [data-section=contractors] .swiper-slide {
	width: 211px;
	height: 62px;
	-ms-flex-item-align: center;
	    align-self: center;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
}

.popup.main-popup.Notice .layer__close .close::before,
.popup.main-popup.Notice .layer__close .close::after {
	background-color: #fff;
}
.popup.main-popup.Notice .map_link {
	vertical-align: middle;
}
.popup.main-popup.Notice .map_link img {
	width: 25px;
}
.popup.main-popup.Notice .layer__checkbox {
	position: absolute;
	bottom: -35px;
	left: 0;
}
.popup.main-popup.Notice .layer__checkbox label span {
	display: block;
	padding-left: 35px;
	color: #fff;
}
.popup.main-popup.Notice .layer__wrap--wide {
	max-width: 640px;
}
.popup.main-popup.Notice .layer__inner {
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
}
.popup.main-popup.Notice .layer__inner .layer__head {
	padding: 24px 40px;
	background: #222;
	color: #fff;
}
.popup.main-popup.Notice .content__title {
	color: #fff;
	font-size: 26px;
	font-weight: 700;
	border: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.popup.main-popup.Notice .layer__content {
	max-height: 853px;
	padding: 30px 40px 40px;
}
.popup.main-popup.Notice .layer__content * {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.popup.main-popup.Notice .layer__content p > span {
	display: block;
	margin-bottom: 10px;
}
.popup.main-popup.Notice .layer__content p a {
	display: inline;
	text-decoration: underline;
}
.popup.main-popup.Notice .content__text-wrap {
	position: relative;
	margin-top: 20px;
	border-radius: 10px;
	background-color: #FAFAFA;
	padding: 25px 30px 40px 30px;
	margin-bottom: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 400px;
}
.popup.main-popup.Notice .content__text-wrap ul + ul {
	margin-top: 18px;
}
.popup.main-popup.Notice .content__text-wrap ul:last-of-type {
	margin-bottom: 16px;
}
.popup.main-popup.Notice .content__text-wrap ul li {
	color: #666;
}
.popup.main-popup.Notice .content__text-wrap ul dl {
	margin-top: 5px;
}
.popup.main-popup.Notice .content__text-wrap ul dl dd {
	padding-left: 4.4%;
}
.popup.main-popup.Notice .content__text-wrap ul dl dd.dott {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.popup.main-popup.Notice .content__text-wrap ul dl dd.dott:before {
	content: "- ";
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 8px;
	padding-left: 3.2%;
}
.popup.main-popup.Notice .content__text-wrap .tit {
	font-family: "NS BD";
	font-weight: 500;
	color: #000;
	margin-bottom: 5px;
}
.popup.main-popup.Notice .content__text-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-top: 16px;
	border-top: 1px solid #E8E8E8;
	background: #FAFAFA;
}
.popup.main-popup.Notice .content__text-footer p {
	color: #666;
	font-weight: 500;
}
.popup.main-popup.Notice .content__text-footer p strong {
	color: #000;
	font-weight: 500;
}

.layer__body {
	background-color: rgba(0, 0, 0, 0.8);
}

.popup.thanksday-popup.Notice .layer__wrap {
	top: 48%;
}
.popup.thanksday-popup.Notice .layer__inner {
	padding: 0;
	border-radius: 10px;
	overflow: hidden;
}
.popup.thanksday-popup.Notice .layer__head {
	padding: 23px 40px;
	background-color: #000000;
}
.popup.thanksday-popup.Notice .layer__head .content__title {
	padding: 0;
	border: 0;
	margin: 0;
	color: #ffffff;
	font-weight: 700;
}
.popup.thanksday-popup.Notice .layer__content {
	max-height: 600px;
	padding: 23px 40px;
}
.popup.thanksday-popup.Notice .layer__content p strong {
	font-size: 18px;
	font-weight: 700;
}
.popup.thanksday-popup.Notice .layer__content p em {
	font-weight: 700;
}
.popup.thanksday-popup.Notice .layer__content p + p {
	margin-top: 10px;
}
@media screen and (max-height: 800px) {
	.popup.thanksday-popup.Notice .layer__content {
		max-height: 560px;
	}
}