@charset "UTF-8";
.btn_wrap:after, .footer .foo_util ul:after, .companypop .layer_wrap .layer_cont .sns:after, [class^="fixed_pop-"] .p_util:after, .list_type02:after, .list_type03:after, .detail_info .info_more .item:after, .comparison_head:after, .fixed_pop-comparison .comparison_items:after, .search_wrap .recent_news li:after { content: ""; display: block; clear: both; }



@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Bold'),
  url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff'),
  url('../fonts/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Medium'),
  url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff'),
  url('../fonts/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}

/* @font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Regular'),
  url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff'),
  url('../fonts/SpoqaHanSansNeo-Regular.ttf') format('truetype');
} */

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Light'),
  url('../fonts/SpoqaHanSansNeo-Light.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansNeo-Light.woff') format('woff'),
  url('../fonts/SpoqaHanSansNeo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 100;
  font-display: swap;
  src: local('Spoqa Han Sans Neo Thin'),
  url('../fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
  url('../fonts/SpoqaHanSansNeo-Thin.woff') format('woff'),
  url('../fonts/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}

span { -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; -webkit-tap-highlight-color: transparent; font-family: 'Spoqa Han Sans Neo', sans-serif;  }


/** RESET **/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; vertical-align: top; letter-spacing: 0; line-height: 1.4; word-break: keep-all; }

fieldset, img, textarea { border: 0; outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main { display: block; }

img { max-width: 100%; }

button, input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none; border: 0; }

body { -webkit-text-size-adjust: none; }

ol, ul { list-style: none; }

address, em { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; }

strong { font-weight: 700; }

div { word-break: keep-all; }

table { border-collapse: collapse; border-spacing: 0; width: 100%; }

iframe { overflow: hidden; border: 0; }

article, footer, header, nav, section { display: block; }

input[type=text], input[type=password], input[type=number], input[type=tel], input[type=email] { width: 100%; height: 40px; padding: 9px 10px; background-color: #f2f4f6; border: 1px solid #f2f4f6; font-size: 14px; line-height: 20px; -webkit-appearance: none; color: #000; }

input[type=text]:not([readonly]):focus, input[type=password]:not([readonly]):focus, input[type=number]:not([readonly]):focus, input[type=tel]:not([readonly]):focus, input[type=email]:not([readonly]):focus { background-color: #fff; border-color: #00a8e2; }

input[type=text]:-moz-read-only, input[type=password]:-moz-read-only, input[type=number]:-moz-read-only, input[type=tel]:-moz-read-only, input[type=email]:-moz-read-only { color: #666; }

input[type=text]:read-only, input[type=password]:read-only, input[type=number]:read-only, input[type=tel]:read-only, input[type=email]:read-only { color: #666; }

input[type=text]:-moz-read-only.fc_bk, input[type=password]:-moz-read-only.fc_bk, input[type=number]:-moz-read-only.fc_bk, input[type=tel]:-moz-read-only.fc_bk, input[type=email]:-moz-read-only.fc_bk { color: #000; }

input[type=text]:read-only.fc_bk, input[type=password]:read-only.fc_bk, input[type=number]:read-only.fc_bk, input[type=tel]:read-only.fc_bk, input[type=email]:read-only.fc_bk { color: #000; }

input[type=text].datepicker:-moz-read-only, input[type=password].datepicker:-moz-read-only, input[type=number].datepicker:-moz-read-only, input[type=tel].datepicker:-moz-read-only, input[type=email].datepicker:-moz-read-only { color: #000; }

input[type=text].datepicker:read-only, input[type=password].datepicker:read-only, input[type=number].datepicker:read-only, input[type=tel].datepicker:read-only, input[type=email].datepicker:read-only { color: #000; }

textarea { width: 100%; padding: 10px; min-height: 120px; background-color: #f2f4f6; border: 1px solid #f2f4f6; font-size: 14px; -webkit-appearance: none; }

textarea:not([readonly]):focus { background-color: #fff; border-color: #00a8e2; }

textarea:-moz-read-only { color: #666; }

textarea:read-only { color: #666; }

textarea ::-webkit-input-placeholder { font-size: 14px; color: #999; }

textarea ::-moz-placeholder { font-size: 14px; color: #999; }

textarea ::-moz-placeholder { font-size: 14px; color: #999; }

input::-ms-clear { display: none; }

::-webkit-input-placeholder { font-size: 13px; font-weight: 300; color: #999; }

::-moz-placeholder { font-size: 13px; font-weight: 300; color: #999; }

::-moz-placeholder { font-size: 13px; font-weight: 300; color: #999; }

a { border: none; outline: none; }

button { cursor: pointer; border: none; margin: 0; padding: 0; }

input, button, select { vertical-align: middle; }


select { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 100%; margin: 0; padding: 17px 25px 17px 0; border: 0; border-radius: 0; font-size: 13px; background-image: url(../images/icon/icon_down.png); background-repeat: no-repeat; background-size: 9px; background-position: right center; outline: none; background-color: transparent; }

select::-ms-expand { display: none; }

button { text-align: center; cursor: pointer; border: none; margin: 0; padding: 0; overflow: visible; background: transparent; line-height: normal; -webkit-font-smoothing: inherit; -moz-osx-font-smoothing: inherit; -webkit-appearance: none; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

html { height: 100%; min-height: 100%; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { width: 100%; max-width: 960px; margin: 0 auto; font-size: 14px; line-height: 1; }

@media all and (max-width: 960px) { html { font-size: 14px; } }

@media all and (max-width: 360px) { html { font-size: 13px; } }

/****** Accessibility ******/
.a11y { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.skipnavigation { position: relative; }

.skipnavigation a { position: absolute; top: 0; left: 0; width: 100%; height: 0; z-index: 1; display: block; font-size: 0; background-color: #FFF; text-align: center; }

.skipnavigation a:focus { height: 30px; padding: 4px 0; visibility: visible; font-size: 1em; }

.noscroll { height: 100%; }

.noscroll .wrap { overflow: hidden; }

.back-top { bottom: -100px; cursor: pointer; right: 13px; position: fixed; width: 5rem; height: 5rem; display: inline-block; text-decoration: none; z-index: 900; opacity: 0; background-image: url(../images/common/btn_gotop.png); background-size: 5rem; background-repeat: no-repeat; background-position: center center; }

.back-top.show { opacity: 1; }


/* 20210723 */
.header_title { padding-left:21px; padding-top:21px;padding-bottom:0px; margin-bottom:0;}
.header_title h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.5px;
    text-align: left;
    color:#232323;
}
.notice_list ul { cursor:pointer;  height:88px;}
.notice_list .line { border-bottom:1px solid rgba(217, 217, 214, 0.5); }
.notice_list ul li { position: relative;  padding-left:21px;}
.notice_list .title {
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: -0.5px;
  text-align: left;
  padding-top:22px; 
  color:#232323;
}

.notice_list .date {
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: -0.5px;
    text-align: left;
    margin-top:6px;
    color: #828280;
}

.notice_list .date_icon {
  position: relative;
  display: inline-block;
  margin-right:8px;
  margin-top:3px;
  width:12px;
  height: 12px;
  background: url("/assets/images/icon_date.svg") no-repeat top left;
  background-size: contain;
}

.notice_list .arrow_icon {
  position: absolute;
  right: 28px;
  top: 33px;
  width:11px;
  height: 22px;
  background: url("/assets/images/icon_right_arrow.svg") no-repeat top left;
  background-size: contain;
}

.notice_view {padding-left:21px; padding-right:21px; }
.notice_view .line { width:100%; height:1px; background:#D9D9D6; margin:0 auto;}
.notice_view .content { 
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#232323;
  padding-top:18px;
  word-break: break-all;
}
.wrapper { background: #ffffff;}
.wrap_service { background:#000000;}
.wrap_service .header_title h2{ color:#ffffff;}
.wrap_service .desc {
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: -0.699999988079071px;
  text-align: left;
  color:#ffffff;
  margin-top:22px;
  padding-bottom:30px;
}
.section_service {
  padding-top: 39px;
  background-color: #fff;
}

.tab-pagination { position: relative; width: 100%; max-height: 57px;  overflow: hidden; }
.tab-pagination .row { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 10px; padding-left: 0; overflow-x: scroll; -webkit-overflow-scrolling: touch; }
.tab-pagination p { -webkit-box-flex: 0; -ms-flex: none; flex: none; float: left; width: auto; height: auto; margin: 0 20px 0 0 !important; padding-top: 13px; border-radius: 0; background-color: #fff; opacity: 1; white-space: nowrap; cursor: pointer; outline: none; }
.tab-pagination p.first { padding-left:21px; }
.tab-pagination p span { display: block; padding-bottom: 10px; text-transform: uppercase; 
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.5px;
  text-align: center;
  color: #828280; 
}

.tab-pagination p.active span { 
  color: #C8B2A4;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: -0.5px;
  text-align: center;
}
.tab-pagination p.active span:after { content: ''; margin-top: 12px; display: block; width: 100%; height: 2px; background-color: #C8B2A4; z-index:99;position: relative; }
.tab-pagination a { display: inline-block; }
.tab-pagination .line_bg { position:absolute; left:0;  bottom:7px; height: 1px; width:100%;  z-index:0; background-color: #d9d9d9;}

.section_service .content { padding:21px; width:100%; }
.section_service .content .title_eng { 
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#232323;
  margin:0;
}

.section_service .content .title_kor { 
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#232323;
  padding-top:12px;
  margin:0;
}
.section_service .content .desc{
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-align: justified;  
  color:#828280;
  padding-top:12px;
  padding-bottom:33px;
  margin:0;
 }

 .section_service .content .line { width:100%; height:1px; background:rgba(217, 217, 214, 0.4);}

 .section_service .content .editor{
  padding-top:0px;
  padding-bottom:20px;
 }

 .section_service .content .editor b { font-weight: 700;}
 .section_service .content .editor b span { font-weight: 700;}

 .content_margin { padding-top:79px !important;}


.wrap_conci { background:#ffffff;}
.wrap_conci .header_title h2{ color:#96694C; font-size:17px; font-weight: 700; line-height: 20px; margin:0; padding:0;}
.wrap_conci .desc {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#96694C
}

.section_conci {
  background-color: #fff;
}
.section_conci .row .line { width:100%; height:1px; background:rgba(217, 217, 214, 0.6)}
.section_conci .row { padding-top:21px; width:90%; margin:0 auto; }
.section_conci .content { 
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#232323;
  padding-top:18px;
  word-break: break-all;
}

.section_conci .program_box { width:90px; border-radius: 20px; border:1px solid #B79A87; padding:4px 10px;margin-top:15px; text-align:center; }
.section_conci .program_box span { 
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.5px;
  text-align: center;
  color:#B79A87

}


.section_conci .desc { 
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  text-align: left;
  color:#000000;
  margin-top:12px;
}

.section_conci .info {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top:6px;
  color:#828280;
}