/* 1024px �궗�씠利� */
@media all and (max-width: 1139px) {
	#header .limit { padding: 0 3.125%; }
	#footer .limit { padding: 0 3.125% 73px; }
	#footer .history { padding: 17px 0; }

	.limit { width: auto; margin: 0 auto; }
	


	#footer .f_info .address ul li.clear { clear: both; }
	#footer .f_info .address ul li.clear3 { clear: none; }

	.request > .request_wrap { width: 93.75%; /* 960px / 1024 */ }
	.request .request_box > div { width: 93.75%; /* 960px / 1024 */ }
	.request .request_box > div input { width: 97.3684%; /* 370px / 380px */  padding: 5px 1.315789%; /* 5px / 380px */ }
	.request .request_box > div .request_left { width: 48.958333%; /* 470px / 960px */ }
	.request .request_box > div .request_left .left_wrap { width: 100%; }
	.request .request_box > div .request_left .left_wrap .col .left_text { width: 19.148936%; /* 90px / 470px */ }
	.request .request_box > div .request_left .left_wrap .col .left_input { width: 80.851063829%; /* 380px / 470px */ }
	.request .request_box > div .request_left .left_wrap .col .left_input .mail_input { width: 72.10526%; /* 274px / 380px */ }
	.request .request_box > div .request_left .mail_id { width: 34.306569%; /* 94px / 274px */ padding: 5px 1.8248175%; /* 5px / 274px */ }
	.request .request_box > div .request_left .mail_address { width: 49.27007299%; /* 135px / 274px */ padding: 5px 1.8248175%; /* 5px / 274px */ }
	.request .request_box > div .request_left .select_input { width: 27.368%; /* 104px / 380 */ }

	.request .request_box > div .request_right { width: 47.29166667%; /* 454px / 960px */ }
	.request .request_box > div .request_right .right_wrap { width: 100%; }
	.util_menu { right: 3.125%; }
}

/* 768px �궗�씠利� */
@media all and (max-width: 1023px){
	#wrap.main { padding-bottom: 0; }
	#wrap.sub { padding-bottom: 0; }
	
	.gnb .depth1 > li > div > a { float: none; }
	.gnb .depth2 { float: none; }
	.gnb .nsm .depth3 { right: 0px; }
	.gnb .nsm .depth2 li:first-child .depth3 { right: 0px; }

	.util_menu { display: none; }

	#footer { position: relative; }
	
	#footer #foot_lang{ display:block; }

	#footer .f_info .foot_list { clear: both; margin-left: 0; }
	#footer .f_info .address ul li.clear { clear: both; margin-left: 0; }

	#footer .f_info .address ul li.clear,
	#footer .f_info .address ul li.clear2,
	#footer .f_info .address ul li.copyright{ margin-top: 5px; }


	/*.request > .request_wrap { width: 100%; }*/

	.request .request_box > div input { width: 95.487422%; /* 337px / 353px  */ padding: 5px 2.2662889%; }
	
	.request .request_box > div .request_left .left_wrap .col { overflow: hidden; height: auto; padding: 0; }
	.request .request_box > div .request_left .left_wrap .col.first { height: auto; }
	.request .request_box > div .request_left .left_wrap .col .left_text { width: 100%; }
	.request .request_box > div .request_left .left_wrap .col .left_input { width: 100%; }

	.request .request_box > div .request_right .right_wrap { padding-top: 56px; }
	.request .request_box > div .request_right .right_wrap .simple_call { padding-bottom: 40px; }
	.request .request_box > div .request_right .right_wrap .right_privacy { height: auto; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_check { float: none; }

	.request .request_box > div .close { top: 30px; }
}

/* 640px mobile */
@media all and (max-width: 767px) {
	body { font-size: 0.5em; }
	.sub #container { padding-top: 207px; }
	
	#header{ display: none; height: 100%; font-size: 2em; background: none;}
	#header .limit { width: 87.5%; /* 560px / 640px */ height: 100%; margin: 0; padding: 0;}
	#header .logo { display: none; }
	#header .mask { position: fixed; top: 0; left: 0; bottom: 54px; width: 100%; background: url(/share/images/header_bg.png); }

	.gnb { float: none; position: relative; width: 100%; height: 100%; padding: 0; background: #fff; }
	.gnb .depth1 { position: absolute; top: 0; left: 0; width: 100%; margin-top: 0; padding-bottom: 30px;}
	.gnb .depth1 > li { float: none; width: 100%; margin-top: 30px; padding: 0; border: 0; text-align: left}
	.gnb .depth1 > li:first-child { margin-top: 0; }
	.gnb .depth1 > li.works { width: 100%; }
	.gnb .depth1 > li.success { width: 100%; }
	.gnb .depth1 > li.nsm { width: 100%; }
	.gnb .depth1 > li > div { padding: 25px 3.57142857% 0; /* 20px / 560px */ border-top: 1px solid #ececec;  }
	.gnb .depth1 > li:first-child div { border-top: 0; }
	.gnb .depth1 > li > div > a { display: block; margin-bottom: 20px;  font-size: 1.5em; line-height: 1em;}

	.gnb .depth2 > li { width: 42.307692%; /* 220px / 520px */ }
	.gnb .depth2 > li:first-child { margin: 0; padding: 0; margin-right: 7.6923%; /* 80px / 520px */ }
	.gnb .depth2 > li > a { font-size: 1.125em; line-height: 1em; }

	.gnb .depth3 { display: block !important; position: relative; top: 0; left: 0; }
	.gnb .depth3 > li { float: none; margin-left: 0; margin-top: 2em; }
	.gnb .depth3 > li > a { font-size: 0.9375em; line-height: 1em; }
	.gnb .works .depth3_2 { left: 0; }
	.gnb .success .depth3 { left: 0; }

	.gnb .scroll { display: block; bottom: 54px; right: 12.5%; /* 560px / 640px */ }
	.gnb_close { display: block; position: fixed; bottom: 54px; right: 12.5%; z-index: 99;}
	
	.main .request .section_scroll { display: none; }
	#footer { font-size: 2em; }
	#footer #foot_lang{ display:block; }
	#footer .f_info { padding: 30px 0 0;/* 40px / 640px */ }
	#footer .f_info .foot_sns { position: static; float: none; margin-bottom: 44px; }
	#footer .f_info .foot_sns ul { width: 268px; margin: 0 auto; }
	#footer .f_info .foot_sns ul li { margin-left: 12px; }
	#footer .f_info .foot_sns ul li:first-child { margin-left: 0; }

	#footer .f_info .foot_list ul li { margin-right: 14px; padding-right: 14px; }
	#footer .f_info .foot_list ul li a { font-size: 1em; }
	#footer .f_info .foot_list ul li.clear_b { clear: both; }
	#footer .f_info .foot_list ul li.faq { padding-right: 0; margin-right: 0; background: none; }
	#footer .f_info .foot_list ul li.site { display: none; }

	#footer .f_info .address { margin-top: 10px; }
	#footer .f_info .address ul li.clear2 { clear: both; margin: 10px 0 5px; }
	#footer .f_info .address ul li.copyright { clear: both; }
	#footer .f_info .address ul li.copyright > span { display: block; margin-top: 3px;}

	.request { font-size: 2em; z-index: 100; }
	.request > .request_wrap { width: 100%; background: #009ac8; }
	.request > .request_wrap > .menu,
	.request > .request_wrap > .call,
	.request > .request_wrap > .home { display: block; position: absolute; top: 0; height: 100%; background: #009ac8;}
	.request > .request_wrap > .call { left: 66.25%; /* 424px / 640px */ width: 16.71875%; /* 107px / 640px */ }
	.request > .request_wrap > .menu { right: 0; width: 16.71875%; /* 107px / 640px */ border-left: 2px solid #1aa4ce; }
	.request > .request_wrap > .home { left:0; width: 16.875%; /* 108px / 640px */ }
	.request > .request_wrap > .btn { width: 49.375% /* 316px / 640px */; margin-left: 16.875%; background: #167ea5;}
	.request > .request_wrap > .section_scroll_other { left:10px; top:-40px;}
	
	.request .request_box { overflow: hidden; }
	.request .request_box > div { position: relative; top: 0; width: 90%;/* 576px / 640px */ padding-bottom: 10px; }
	.request .request_box > div input,
	.request .request_box > div .request_left .mail_id,
	.request .request_box > div .request_left .mail_address{ padding: 5px 2.2662889%;  font-size: 0.875em;}
	.request .request_box > div .request_right .right_wrap .close { top: 25px; right: 0; height: 16px; }
	.request .request_box > div .close > span { width: 16px; height: 16px; background-position: -27px -135px; }
	.request .request_box > div .close:hover > span,
	.request .request_box > div .close:active > span { background-position-x: -46px; }

	.request .request_box > div label { font-size: 0.875em; line-height: 2em; }
	.request .request_box > div .request_left .select_input { width: 100%; height: auto; overflow: hidden;  margin-top: 10px; }
	.request .request_box > div .request_left .select_input select { float: right;  width: auto; padding: 3px 0; }
	.request .request_box > div .request_left .left_wrap { padding: 20px 0 16px; }
	.request .request_box > div .request_left .left_wrap .col .left_input .mail_input { position: relative; float: none; width: 100%; } 
	.request .request_box > div .request_left .left_wrap .col .left_input .mail_input > span { display: block; float: left; width: 7.29167%; text-align: center; }
	.request .request_box > div .request_left .left_wrap .col .left_input .mail_input > input { float: left;}
	.request .request_box > div .request_left .mail_id,
	.request .request_box > div .request_left .mail_address { width: 42.56055%; /* 246px / 576px */  padding: 5px 1.9097222%; /* 11px / 576px */}
	.request .request_box > div .request_left .mail_address { position: absolute; top: 0; right: 0; }

	.request .request_box > div .request_title { display: block; margin-bottom: 10px;}
	.request .request_box > div .request_left,
	.request .request_box > div .request_right { float: none; width: 100%; }
	.request .request_box > div .request_right .right_wrap { position: static; }
	.request .request_box > div .request_right .right_wrap .simple_call { display: none; }
	.request .request_box > div .request_right .right_wrap .right_privacy { position: relative; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_check { font-size: 0.75em; line-height: 1em; }

	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view { position: absolute; top: 0; right: 0; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn { position: relative; width: 34px; height: 34px; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn > span { position: absolute; top: 50%; left: 50%; width: 9px; height: 13px; margin-top: -6.5px; margin-left: -4.5px; text-indent: -9999px; background: url(/share/images/sprites/f_icon640.png) no-repeat; background-position: 0 -135px; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn:hover > span,
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn:active > span { background-position-x: -13px; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view > span { display: none; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_layer { overflow: auto; top: 0; left: 0; bottom: 54px; width: 100%; height: auto;  margin: 0; z-index:1;}
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_layer p { padding: 20px 5%; }
	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_layer p > span { display: block; width: 65.972%; /* 380px / 576px */ font-size: 2em; line-height: 1.25em; }
	.request .request_box > div .request_right .right_wrap .right_privacy	.privacy_layer .layer_close { position: absolute; top: 14px; right: 5%; left: auto; bottom: auto; width: auto; height: auto; background: none;}
	.request .request_box > div .request_right .right_wrap .right_privacy	.privacy_layer .layer_close > a {
	display: block;
	text-indent: -9999px;
	background: url(/share/images/sprites/f_icon640.png) no-repeat; 
	width: 16px;
	height: 16px;
	margin: 0;
	background-position: -27px -135px;
	}
	
	.request .request_box > div .request_right .right_wrap { padding: 0; }
	.request .request_box > div .request_right .right_wrap .right_btn { height: 41px; }
	.request .request_box > div .request_right .right_wrap .right_btn a.ok { font-size: 1.125em; line-height: 41px; }

	.top_btn { display: none; }
}

@media all and (max-width: 532px) {
	/*.request > .request_wrap > .section_scroll_other { left:10px; top:-77px;}*/ /*2017-04-12수정*/
	/* .request > .request_wrap > .section_scroll_other { left:10px; top:-40px;} */
	.request > .request_wrap > .section_scroll_other { left:10px; top:-77px;} /*2017-04-20 배너 7개 이상으로 원위치 */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {

   .f_icon { display: block; text-indent: -9999px; background: url(/share/images/sprites/f_icon640@2.png) no-repeat; -webkit-background-size: 294px 165px; }
   	.request .request_box > div .request_right .right_wrap .right_privacy .privacy_view .view_btn > span { background: url(/share/images/sprites/f_icon640@2.png) no-repeat; -webkit-background-size: 294px 165px; background-position: 0 -135px; }
}