/* 1024px �궗�씠利� */
@media all and (max-width: 1139px) {
	.main .section { padding: 0 3.125%; width:94%;}
	.main .section .left,
	.main .section .right { width: 24.27083333%; /* 233px / 960px */ }
	.main .section .center > .middle > .inner { width: 47.9167%; /* 494px / 960px */ }
	.main .section .center > .middle > .inner.full_text { width: 100%; }

}

/* 768px �궗�씠利� */
@media all and (max-width: 1023px){

	.main .section .left,
	.main .section .right { width: 32.361111111%; /* 233px / 720px */ }
	.main .section .center > .middle > .inner { margin-left: auto; margin-right: auto; width: 31.389%;/* 226px / 720px */ }


	.main .section .ad_list ul li { width: 25%;/* 180px / 720px */ height: 50%;  float: left; }

	.main .section .ad_list ul li.clear { clear: both; }
	.main .section .ad_list ul li.clear > div {  border-left: 0; }
	.main .section .ad_list ul li > div { padding: 20px 0; }
	
	.main .sec6 .left .service_copy { padding-top: 25px; }
	.main .sec6 .center .service_copy { padding-top: 25px; }
	.sec6 .right p span img { margin-bottom: 25px; }



}

/* 640px mobile */
@media all and (max-width: 767px) {
	.m_logo { display: block; }
	.m_logo img { display: block width: 25.166667%; /* 151px / 640px */ padding: 20px 0; }
	
	.main #container { padding-top: 155px; font-size: 2em;}

	.main .section { /*height: 100%; -webkit-height:100%;-moz-height:100%;*/text-align: center; }
	.main .section .main_sec_title { display: block; position: relative; top: 0; margin: 20px 0; }
	.main .section .left, .main .section .right { float: none; width: 100%; height: auto; }
	.main .section .left { margin-bottom: 20px; }
	.main .section.sec7 .left { margin-bottom: 0; }
	.main .section .left > p, .main .section .right > p { font-size: 1.875em; padding-top: 0; line-height: 1.4em; }
	.main .section .left p strong { font-weight: 400; }
	.main .section .left .fountain_box { margin: 0 auto; }

	.main .section .right {margin: 20px 0 34px; }
	.main .section .right { display: none; }
	.main .section .right .btn { display: none; }

	.main .section .center { display: block; position: relative; }
	.main .section .center > .middle { display: block; }
	.main .section .center > .middle > .inner { width: 68.3333%; /* 410px / 600px */ }
	.main .section .center > .middle > .inner > p > span{ display: inline;}

	.main .section .center > .middle > .inner.full_text { margin: 67.5px 0 112px; }
	.main .section .center > .middle > .inner.text { width: 90%; }
	.main .section .full_text span { font-weight: 800; }

	.main .section .ad_list ul li.top > div { padding: 55px 0 35px; }
	.main .section .ad_list ul li.bottom > div { padding: 35px 0 55px; }
	.main .section .ad_list ul li a p { padding-top: 15px; }
	.main .section .ad_list ul li a > img { width: 95%; }

	.main .section.sec6 .right { display: block; }
	
	.sec2 { background: #f5f5f5; }
	.sec6 .left div span.ad_text { display: block; }
	.sec6 .left div { padding-top: 16px; }
	.jejucafe  .center .inner,
	.ggstory .center .inner { margin-bottom: 30px; }
}