/* 1024px 사이즈 */
@media all and (max-width: 1139px) {
	.limit { padding: 0 3.125%; }
	.system .contents .limit,
	.system2 .contents .limit,
	.system3 .contents .limit,
	.process .contents .limit,
	.process2 .contents .limit,
	.process3 .contents .limit,
	.educational .contents .limit,
	.educational2 .contents .limit { padding: 0 4.1015625%; /* 42px / 960px */ }
	
	.f_indicator { right: 3.125%; margin-right: -5px;}

	/* WORK | AD SERVICE | 광고서비스 */
	.advertising .contents { padding-bottom: 135px; }
	.advertising .contents .sub_title .s_t { width: 85.41666667%; /* 820px / 960px */ }
	.advertising .contents .sub_title .s_txt { width: 97.9166667%; /* 940px / 960px */ }

	.advertising2 .contents { padding: 115px 0; }
	
	.advertising_list { padding: 0; }
	.advertising_list .contents { padding: 115px 0; }

	.step_list { width: 97.9166667%; /* 940px / 960px */ }
	.step_list li { width: 25.5319%; /* 240px / 940px */ margin-right: 0; }
	.step_list li .step_box { width: 68.333333%; /* 164px / 240px */ }
	.step_list li .step_box .arrow { right: -28.04878%; /* 46px / 164px */ }
	.step_list li.last { width: 23.404255%; /* 220px / 940px */ }
	.step_list li.last .step_box { width: 74.54545454%; /* 164px / 220px */ }
	
	.adv_list { width: 97.9166667%; /* 940px / 960px */ margin: 0 auto; }
	.advertising_btn { padding-left: 0; }
	.advertising_btn .btn_txt { float: none; }
	.advertising_btn span.arrow { display: block; float: none; margin-left: auto; margin-right: auto; }

	/* WORK | AD SERVICE | 상품소개 */
	.product .contents .sub_title .s_t { width: 85.4166667%; /* 820px / 960px */ }
	.product .contents .sub_title .s_txt { width: 97.9166667%; /* 940px / 960px */ }
	
	.product .contents.text_l { width: 100%; /* 960px / 960px */ margin: 0 auto; }
	.product .contents.text_l .sub_title .s_t { width: 100%; }
	.product .contents.text_l .sub_title .s_txt { width: 100%; }

	.product_btn { padding-left: 0; }
	.product_btn .btn_txt { float: none; }
	.product_btn span.arrow { display: block; float: none; margin-left: auto; margin-right: auto; }


	/* WORK | AD SERVICE | 광고운영솔루션 */
	.solution .contents .sub_title .s_t, .solution .contents .sub_title .s_txt { width: 81.25%; /* 780px / 960px */ }
	.solution .contents .sub_cont .solution_visual { display: block; width: 93.75%; /* 900px / 960 */ margin: 130px auto 0; }

	.solution.sol2 .contents .sub_cont { width: 64.453125%; /* 660px / 960px */ margin: 110px auto 0; }
	.solution.sol2 .contents.middle .sub_cont { width: 48.9583333%; /* 470px / 960px */ margin-top: 105px; }
	.solution.sol2 .contents.middle .sub_title { width: 44.79166667%; /* 430px / 960 */ }
	
	.solution.sol3 .contents.cont2 .bar { width: 97.9166667%; /* 940px / 960px */  }
	.solution.sol3 .contents .square_list  { width: 97.9166667%; /* 940px / 960px */  }
	.solution.sol3 .contents.cont3 .f_box { width: 92.70833333%; /* 890px / 960px */ }
	.solution.sol3 .contents.cont3 { padding-top: 60px; }

	.asquare_btn { padding-left: 0; }
	.asquare_btn .btn_txt { float: none; }
	.asquare_btn span.arrow { display: block; float: none; margin-left: auto; margin-right: auto; }
	
	/* WORK | SUPPORT | 광고전문가 */
	.specialist .right_cont .btn_box { padding-top: 73px; }
	 .specialist .right_cont .btn_box > a { float: none; width: 100%; margin: 0 auto; }
	 .specialist .right_cont .btn_box > a:first-child { float: none; margin-right: auto; margin-bottom: 4px;}
	 .specialist .right_cont .btn_box > a.btn3 { width: 152px; margin-top: 4px;}
	
	.site .specialist .right_cont .btn_box { padding-top: 22px; }

	/* WORK | SUPPORT | 사이트컨설팅 */
	.consulting .contents .sub_title { width: 100%; }

	.consulting2 .contents .sub_title { width: 81.25%;/* 780px / 960px */ }
	.consulting2 .contents .sub_title.copy { width: 100%; }
	.consulting2 .contents .sub_title.copy .s_txt { margin-bottom: 40px; }
	
	.consulting3 .contents .sub_title,
	.consulting4 .contents .sub_title{ width: 97.9166667%; /* 940px / 960px */ }

	.consulting2_list { width: 97.91666667%; /* 940px / 960px */ margin: 0 auto; }
	.consulting2_list li { width: 23.404255%; /* 220px / 940px */ padding-right: 2.12765957%; /* 20px / 940px */ }
	.consulting2_list .arrow { right: 0; }
	
	.consulting_cont { width: 85.416667%; /* 820px / 960px */ }
	.consulting_cont .contents { padding: 120px 0 0; }
	.consulting_cont .contents .sub_title { width: 81.25%; /* 780px / 960px */ }
	.consulting_cont .contents .sub_cont { width: 88.54166667%; /* 850px / 960px */ }
	.consulting_elem { padding-bottom: 160px; }

	.user { margin: 80px 0 75px; }
	.user li { width:24.70588%; /* 210px / 850px */ margin-left: 12.70588%; /* 110px / 850px */ }

	/* WORK | SUPPORT | 제휴카드 */
	.card .contents .sub_title { width: 85.4166667%; /* 820px / 960px */ }
	
	.card_point_list li { width: 32.29166667%; /* 310px / 960px */ margin-left: 0;  }
	.card_point_list li.big { width: 35.41666667%; /* 340px / 960px */margin-left: 0; /* 43px / 960px */ }
	.card_point_list .card_point_text { padding-top: 60px; }

	.benefit2 .sub_cont { width: 97.91667%; /* 940px / 960px */ margin: 0 auto; }
	.benefit2 .sub_cont > div { width: 48.93617%; /* 460px / 940px */ }
	.benefit2 .sub_cont > .visa { margin-right: 2.12765%; /* 20px / 940 */ }
	.benefit_list { width: 64.5833%; /* 620px / 960px*/ margin: 0 auto; /* 90px / 960px */ padding-left: 0;}
	.benefit_list li { width: 22.5806%; /* 140px / 620px */ margin-right: 16.12%; /* 100px / 620px */}
	
	/* WORK | SUPPORT | 제휴할인서비스 */
	.service .contents .sub_title { width: 81.25%;/* 780px / 960px */ }
	.service_list li .service_text { width: 47.9166667%; /* 460px / 960px */ }
	.service_list li.blue .service_text { width: 56.25%; /* 540px / 960px */ margin-left: 1.041667%; /* 10px / 960px */}
	.service_list li .service_img { width: 40.625%; /* 390px / 960px */ }

	/* SUCCESSFUL | WHY NSM | 성공노하우 */
	.knowhow_list ul li { width: 33.33333%; /* 320px / 960px */ }
	.knowhow_list ul li.center_margin { margin: 0; }
	.knowhow_list ul li .icon_txt2 { width: 82.8125%; /* 265px / 320px */ }
	
	/* SUCCESSFUL | WHY NSM | 성공사례 */
	.column_list ul li > div { padding: 0 3.125%; }
	.column_list ul li.normal > div { padding: 0 3.125%; }
	.column_list ul li.normal > div > a { padding: 17px 0 ;}

	.column_list .column_cont01 { width: 20.83333%; /* 200px / 960px */ }
	.column_list .column_cont02 { width: 43.75%; /* 420px / 960px */ margin-left: 3.125%;/* 30px / 960px */ }
	.column_list .column_cont03 { width: 29.166667%; /* 280px / 960px */ margin-left: 3.125%;/* 30px / 960px */}
	
	/* SUCCESSFUL | WHY NSM | 성공사례 뷰페이지 */
	.contents_list.detail .bottom_cont .detail_title h3 { width: 90.625%; /* 870px / 960px */}
	
	/* SUCCESSFUL | COLUMN | 뷰페이지*/
	.column_view .bottom_cont .detail_cont .nav_btn .prev { left: 3.125%; margin-left: 0; }
	.column_view .bottom_cont .detail_cont .nav_btn .next {right: 3.125%; margin-right: 0; }

	/* SUCCESSFUL | WHY NSM | 레퍼런스 */
	.reference_list li { float: left; width: 25%; /* 252px / 1140px */ /* 43px / 1140px */ margin-bottom: 10px; text-align:center; }

	/* NSM | COMPANY | 회사소개 */
	.company_info > div > p.info_title { font-size: 5.3125em; }
	
	.history_list { width: 97.916667%; /* 940px / 960px */ margin: 0 auto; }
	.history_list > div .history_cont { width: 100%; /* 220px / 940px */ margin-bottom: 20px;/* 20px / 940px */ }
	.history_list > div .history_cont .history_numb { float:none;margin: 0; padding-right:0;}	
	.history_cont> .his_li{padding-top:0;}
	.history_list > div .history_cont{}
	
	.introduction3 .contents .concept .concept_box { width: 97.916667%; /* 940px / 960px */ margin: 120px auto 0; }
	.introduction3 .contents .concept .concept_box > div { width: 48.93617%; /* 460px / 940px */ margin-left: 2.1276595%; /* 20px / 940px */ }

	/* NSM | COMPANY | CEO */
	.ceo .contents .sub_title .s_txt { width: 50%; /* 470px / 940px */}
	.ceo .contents .ceo_img { right: 3.125%; }

	/* NSM | COMPANY | 회사소식 */
	.contents_list .bottom_cont > ul > li.high_list { width: 31.25%; /* 300px / 960px */margin-left: 3.125%; /* 30px / 960px*/ padding-bottom: 3.125%;}
	.contents_list .bottom_cont > ul > li.high_list > a > div > .list_info .text { margin-top: 25px; }

	.contents_list .bottom_cont > ul > li { width: 14.0625%; /* 135px / 960px */ margin-left: 3.125%; /* 30px / 960px */}



	/* NSM | COMPANY | 로케이션 */
	.location .contents .sub_cont { width: 100%; }
	.location_text { width: 47.9166667%; /* 460px / 960px */ margin-left: 1.04166667%; margin-right: 1.04166667%; /* 10px / 960px */ }
	.location_text.first { margin-right: 1.04166667%; /* 10px / 960px */ }
	
	.transit_btn { width: 97.82608%; /* 450px / 460px */ }
	.transit_btn a { width: 32.888889%; /* 148px / 450px */ margin-right: 0.44444%; /* 2px / 450px */ }

	/* NSM | RECRUIT | 복리후생 */
	.welfare .contents .sub_title { width: 81.25%; /* 780px / 960px */  }
	.welfare .bx-wrapper .bx-controls-direction > .bx-prev { left: 7.421875%; /* 76px / 1024px */ }
	.welfare .bx-wrapper .bx-controls-direction > .bx-next { right: 7.421875%; /* 76px / 1024px */ }
	
	.welfare_list ul { width: 97.916667%; /* 940px / 960px */ margin: 0 auto; }

	.welfare_list li { width: 25.5319145%; /* 240px / 940px */ margin-right: 7.801418%; /* 73px / 940px */}
	.welfare_list li.last { margin-right: 7.801418%; /* 73px / 940px */ }
	.welfare_list li.clear { clear: none; }

	/* NSM | RECRUIT | 인사제도 */
	.system .contents .sub_title { width: 100%; }
	
	.system_list > div { width: 31.91489%; /* 300px / 940px */ }
	.system_list .s_l_01 { margin-right: 2.1276595%; /* 20px / 940px */ }
	.system_list .s_l_02 { margin-right: 10.63829787%; /* 100px / 940px */ }
	.system_list .s_l_03 { width: 23.40425%; /* 220px / 940px */ margin-right: 0; }

	.system3 .contents { padding-bottom: 120px; }
	.system3 .system_list .s_l_02 { margin-right: 2.1276595%; /* 20px / 940px */ }
	.system3 .system_list .s_l_03 { width: 31.91489%; /* 300px / 940px */ }

	/* NSM | RECRUIT | 채용프로세스 */
	.recruit_type { width: 100%; }
	.recruit_type li { width: 45.74468%; /* 430px / 940px */  margin-right: 0;}
	.recruit_type li.first { margin-right: 5.319148%; /* 50px / 940px */ }
	
	.process_list { width: 100%; }
	.process_list li { width: 21.2765957%; /* 200px / 940px */ }
	.process_list li:first-child { width: 21.2765957%; /* 200px / 940px */}
	.process_list li.last { width: 14.8936%; /* 200px / 940px */ }
	.process_list li .process_text { width: 70%; /* 140px / 200px */ }

	/* NSM | RECRUIT | 채용문의 */
	.inquiry_form .form_data { width: 87.6126%; /* 778px / 888px */ }
	.inquiry_form .form_data .col .title { width: 17.095115%; /* 133px / 778px */}
	.inquiry_form .form_data .col .input { width: 82.90488%; /* 645px / 778px */ }
	.inquiry_form .form_data .col input[type="text"],
	.inquiry_form .form_data .col input[type="tel"] { width: 30.69767%; /* 198px / 645px */}
	.inquiry_form .form_data .col .input .mail1 { width: 30.69767%; /* 198px / 645px */ }
	.inquiry_form .form_data .col .input .mail2 { width: 30.69767%; /* 198px / 645px */ }
	.recruitment .inquiry_form .form_data .col .input .select { position: absolute; top: 0; right: 0; }
	.inquiry_form .form_data .col .input .select { width: 30.69767%; /* 198px / 645px */ *width: 28%; }

	.inquiry_form_btn { margin-left: 42.3958333%; /* 407px / 960px */ }	

	/* NSM | RECRUIT | 입사지원 */
	.contents_list.recruit .table_list .col1 { width: 9.375%; /* 90px / 960px */}
	.contents_list.recruit .table_list .col2 { width: 41.666667%; /* 400px / 960px */}
	.contents_list.recruit .table_list .col3 { width: 6.25%; /* 60px / 960px */}
	.contents_list.recruit .table_list .col4 { width: 16.66667%; /* 160px / 960px */}
	.contents_list.recruit .table_list .col5 { width: 18.75%; /* 180px / 960px */}
	.contents_list.recruit .table_list .col6 { width: 7.2916667%; /* 70px / 960px */}

	.application .inquiry_form .form_data { width: 88.6126%; /* 778px / 888px */ }
	.application .inquiry_form .form_data .col .input.email .mail1,
	.application .inquiry_form .form_data .col .input.email .mail2 { width: 30.69767%; /* 198px / 645px */ }
	/* NSM | RECRUIT | 교육제도 */
	.educational_list li { width: 23.404255%;/*220px / 940px */ margin-right: 2.1276595%; /* 20px / 940px */ }

	/* 사이트맵 */
	.site_map .limit { padding: 0 4.1015625%;  }
	.map_list > div { width: 31.91489%; /* 300px / 940px */ }

	.map_list > .successful_map { margin: 0 2.12765%; /* 20px / 940px */ }
	
	.map2depth > li { width: 46.66667%; /* 140px / 300px */ }
	.map2depth > li:first-child { margin-right: 6.67%; /* 20px / 300px */ }
	.map2depth > li > a { font-size: 1.4375em; line-height: 1.304em; }

}