/* 768px 사이즈 */
@media all and (max-width: 1023px) {
	.contents .limit { padding: 0 4.1666667%; /* 32px / 768px */ }

	/* WORK | AD SERVICE | 광고서비스 */
	.advertising .contents { padding-bottom: 135px; }
	.advertising_list .sub_title { width: 100%; }
	.advertising .contents .sub_title .s_t { width: 100%; }
	.advertising .contents .sub_title .s_txt { width: 100%; }

	.advertising2 .contents { padding: 120px 0 40px; }
	
	.advertising_list { padding: 0; }
	.advertising_list .contents { padding: 115px 0; }

	.step_list { width: 79.54545454%; /* 560px / 704px */ margin: 0 0 0 13.06818%; /* 92px / 704px */ }
	.step_list li { width: 50%; /* 280px / 704px */ margin-right: 0; padding-bottom: 80px; }
	.step_list li .step_box { width: 72.85714%; /* 204px / 280px */ }
	.step_list li .step_box .arrow { right: -26.96%; /* 55px / 204px */ }
	.step_list li.last { width: 50%;  }
	.step_list li.last .step_box { width: 72.85714%; /* 204px / 280px */   }
	
	.adv_list { width: 100%; margin: 0 auto; }
	.adv_list li { width: 31.25%; /* 220px / 704px */ }
	.adv_list li.center { margin-left: 3.125%; margin-right: 3.125%; /* 22px / 704 px */ }
	.adv_list .adv_txt { min-height: 50px; }
	.advertising_btn { padding-left: 0;}
	.advertising_btn a { margin-left: 43.75%; /* 308px / 704px */ }

	.advertising_btn .btn_txt { float: none; }
	/* WORK | AD SERVICE | 상품소개 */
	.product .contents .limit { overflow: hidden; padding: 0 3.125%;  }
	.product .contents .sub_title .s_t { width:100%; }
	.product .contents .sub_title .s_txt { width: 100%; }
	
	.product .contents.text_l { width: 100%; margin: 0 auto; }
	.product .contents.text_l .sub_title { width: 49%; /* 353px / 720px */ }
	.product .contents.text_l .sub_cont { width: 50.97%; /* 367px / 720px */ }
	.product .contents.text_l .sub_title .s_t { width: 100%; }
	.product .contents.text_l .sub_title .s_txt { width: 100%; }
	
	.sub_section .contents .sub_cont .visual img { max-width: none; }
	.product .logo_group span { margin-left: 2%;}
	.product .logo_group {overflow: hidden;}
	.product .logo_group span.remargin { float: left; display: block; width: 23%; margin-left: 2%;}



	/* WORK | AD SERVICE | 광고운영솔루션 */
	.solution .contents .sub_title .s_t, .solution .contents .sub_title .s_txt { width: 100% }
	.solution .contents .sub_cont .solution_visual { display: block; width: 100%; margin: 10px auto 0; }
	
	.solution.sol2 .contents { padding-top: 120px; padding-bottom: 0; }
	.solution.sol2 .contents .sub_cont { width: 78.835227%; /* 555px / 704px */ margin: 40px 0 0 6.53409%; /* 46px / 704px */ }
	.solution.sol2 .contents.middle .sub_title { float: none; width: 100%; text-align: center; }
	.solution.sol2 .contents.middle .sub_cont { float: none; width: 70.34545%; /* 496px / 704px */ margin: 60px auto 0; }
	.solution.sol2 .contents.last  .sub_cont { float: none; width: 70.34545%; /* 496px / 704px */ margin: 60px auto 0; padding-bottom: 90px; }
	
	.solution.sol3 .contents .limit { padding: 0 3.125%; }
	.solution.sol3 .contents.cont1 .sub_title { width: 51.1111%;/* 368px / 720 */padding-top: 0; }
	.solution.sol3 .contents.cont1 .sub_cont { width: 42.77778%;/* 308px / 720px */ margin-top: 15px; }
	.solution.sol3 .contents.cont3 .f_box { width: 81.38889%; /* 586px / 720px */ }
	.solution.sol3 .contents.cont3 .f_l { width: 38.56655%; /* 226px / 586px */ }
	.solution.sol3 .contents.cont3 .f_r { width: 38.56655%; /* 226px / 586px */ }
	.solution.sol3 .contents .square_list ul li p.square_txt { min-height: inherit; }
	.solution.sol3 .contents.cont3 .f_box .square_list ul li p.square_txt{ min-height: none; }
	
	.solution.bg .contents .limit { padding: 0; }
	.asquare_btn { padding-left: 0; }
	
	/* WORK | SUPPORT | 광고전문가 */
	.adspecialist .contents .limit { padding: 0 3.125%; }
	
	/* WORK | SUPPORT | 사이트컨설팅 */

	.consulting2 .contents .sub_title { width: 100%;}
	.consulting2 .contents .sub_title.copy { width: 100%; }
	.consulting2 .contents .sub_title.copy .s_txt { margin-bottom: 40px; }

	.consulting2 .contents { padding: 120px 0; }

	.consulting2_list { width: 85.2272%; /* 600px / 704px */ margin: 0 0 0 8.66477%; /* 61px / 704px */ padding: 0 0 120px;}
	.consulting2_list li { width: 40%; /* 240px / 600px */ margin-top: 95px; padding-right: 10%; /* 60px / 600px*/}
	.consulting2_list .arrow { right: 0; }
	
	.consulting_cont { width: 100%; }
	.consulting_elem { padding-bottom: 0; }
	.consulting_elem .elem_list .list01 { width: 27.2521%; margin: 0 4.2821128% 0 7.24431%; }
	.consulting_elem .elem_list .left { width: 7.244%; /* 51px / 704px */ }
	.consulting_elem .elem_list .right { width: 7.244%; /* 51px / 704px */ }

	.user { width: 95.17045%; /* 670px / 704px */ margin: 80px auto 75px; }

	.consulting3 .contents .sub_title,
	.consulting4 .contents .sub_title { width: 100%; }

	/* WORK | SUPPORT | 제휴카드 */
	.card .contents .sub_title { width: 100%; }
	.point .contents { padding-bottom: 0; }
	
	.card_point_list { width: 94.176%; /* 663px / 704px */ margin: 27px auto 0; }
	.card_point_list li { width: 28.205%; /* 187px / 663px */ }
	.card_point_list li.big { width: 37.10407%; /* 246px / 663px */ margin: 0 3.2%; /* 22px / 663px */ }
	.card_point_list .card_point_text { padding-top: 40px; }
	.card_point_list .big .card_point_text { padding-top: 50px; }
	.card_point_list .card_point_text .name { font-size: 1em; }
	.card_point_list .card_point_text .point_numb { font-size: 6.5625em; }
	.card_point_list .card_point_text .percent { margin-top: 10px; font-size: 1em; }
	.card_point_list .small .card_point_text .point_numb { margin-top: 0; }

	.benefit2 .sub_cont { width: 97.159%; /* 684px / 704px */ margin: 0 auto; }
	.benefit_list { width: 82.2386%; /* 586px / 704px*/ margin-left: 9.375%; /* 90px / 960px */}
	.benefit_list li { width: 33.333%; margin-right: 0;}
	
	/* WORK | SUPPORT | 제휴할인서비스 */
	.service .contents .sub_title { width: 100%; }
	.service_list li .service_text { width: 49.005%; /* 345px / 704px */ }
	.service_list li.blue .service_text { width: 50.994%; /* 359px / 704px */ margin-left: 0;}
	.service_list li .service_img { width: 49.005%; /* 345px / 704px */ }
	
	/* SUCCESSFUL | WHY NSM | 성공노하우 */
	.knowhow {
		background: url(/share/images/sub/why_knowhow_bg.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;

		  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='/share/images/sub/why_knowhow_bg.jpg',
		sizingMethod='scale');

		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='/share/images/sub/why_knowhow_bg.jpg',
		sizingMethod='scale')";
	}
	.video_bg { display: none; }
	/* SUCCESSFUL | WHY NSM | 성공사례 */

	.column_list ul li > div { padding: 0; }
	
	.column_list .column_cont01 { width: 26.0416667%; /* 200px / 768px */ }
	.column_list .column_cont02 { width: 65.49479167%; /* 503px / 768px */ margin-left: 5.59895%;/* 43px / 768px */ }
	.column_list .column_cont03 { display: none; }
	
	/* SUCCESSFUL | WHY NSM | 성공사례 뷰페이지 */
	.column_view.contents_list { margin-top: 80px; }
	.contents_list.detail .bottom_cont .detail_title h3 { width: 82.361%; /* 593px / 720px */}
	.contents_list.detail .bottom_cont .detail_cont > div { padding: 80px 1.111% 60px; /* 8px / 720px */}

	/* SUCCESSFUL | WHY NSM | 레퍼런스 */
	.reference_list li { float: left; width: 33.33%; /* 252px / 1140px */ /* 43px / 1140px */ margin-bottom: 10px; text-align:center; }
	
	/* SUCCESSFUL | COLUMN | COLUMN */
	.column.contents_list { margin-top: 80px; }
	.column_view .contents_list.detail .bottom_cont .detail_cont > div{ padding-top: 25px; }
	
	/* NSM | COMPANY | 회사소개 */
	.company_info > div { margin-bottom: 60px; }
	.company_info > div > p.info_title { margin-top: 35px; font-size: 3.75em; }
	
	.history_list { width: 91.7613%; /* 646px / 704px */ margin: 0 auto; }
	.history_list > div { margin-top: 0; }
	.history_list > div .history_cont { width: 44.1176%; /* 285px / 646px */ margin-right: 11.6099%; /* 75px / 646px */ }
	.history_list > div .history_cont.last2 { margin-right: 0; }

	.introduction2 .contents { padding-bottom: 0; }

	.introduction3 .contents .concept .concept_box { width: 100%; margin: 0 auto; }
	.introduction3 .contents .concept .concept_box > div { float: none; width: 100%; margin-top: 80px; margin-left: 0; }

	/* NSM | COMPANY | CEO */
	.ceo .contents .sub_title .s_txt { width: 51.136%; /* 360px / 704px */ padding-bottom: 100px; }
	.ceo .contents .ceo_img { right: 0; width: 43.75%; /* 308px / 704px */ }
	.ceo .contents .ceo_img.floatL{ left: -70px; right:0;}
	.ceo .contents .ceo_img img { max-width: none; }

	/* NSM | COMPANY | 회사소식 */
	.company_news .contents_list { margin-top: 80px; }
	.contents_list { margin-top: 80px; }
	.contents_list .bottom_cont > ul > li.high_list { width: 47.5%; /* 342px / 720px */margin-left: 5%;/* 36px / 720px*/ padding-bottom: 5%;}
	.contents_list .bottom_cont > ul > li.high_list.first2 { margin-left: 0; }
	.contents_list .bottom_cont > ul > li.high_list > a > div > .list_info .text { margin-top: 25px; }

	.contents_list .bottom_cont > ul > li { width: 21.25%; /* 153px / 720px */ margin-left: 5%; /* 36px / 720px*/}
	.contents_list .bottom_cont > ul > li.first { margin-left: 5%; clear:none; }

	.contents_list .bottom_cont > ul > li.first2 { clear: left; margin-left: 0; }

	.company_news .contents_list.detail .bottom_cont .detail_cont > div { padding: 63px 3.333%; }


	/* NSM | COMPANY | 사회공헌 */
	.social_type { width: 100%; }
	.social_type li { width: 100%; }
	
	
	
	/* NSM | COMPANY | 둘러보기 */
	.lookaround_tab .tab_list .tab_cont { padding-top: 100px; }
	.lookaround_tab .tab_list .tab_cont > div { width: 79.545454%; /* 560px / 704px */ margin: 0 auto; padding-bottom: 0; }

	/* NSM | COMPANY | 로케이션 */
	.location .contents .sub_cont { width: 100%; }
	.location_text { float: none; width: 100%; margin-left: 0; margin-right: 0; }
	.location_text.first { margin-right: 0; }
	.location_text .text_cont { overflow: hidden; }
	.location_text .text_cont .address { width: 56.25%; /* 396px / 704px */ margin-left: 2.840909%; /* 20px / 704px */}
	.location_text .text_cont > span { display: block; float: left; }
	.location_text .text_cont > .tel,
	.location_text .text_cont > .email { clear: both; float: none; }
	
	.transit_btn { width: 100% }
	.transit_btn a { width: 22.8693%; /* 161px / 704px */ margin-right: 0.4261363%; /* 3px / 704px */ }

	/* NSM | RECRUIT | 복리후생 */
	.welfare .contents .sub_title { width: 100%  }	

	.welfare_list ul { width: 100%; }

	.welfare_list li { width: 40.625%; /* 286px / 704px */ margin-right: 0; margin-left: 10.085%; /* 71px / 704px */ margin-bottom: 40px; }
	.welfare_list li.first2 { margin-left: 8.66%; /* 61px / 704px */ }
	.welfare_list li.last { margin-right: 0;}
	.welfare_list li.clear { clear: none; }

	/* NSM | RECRUIT | 인사제도 */
	.system .contents .sub_title { width: 100%; }
	
	.system_list > div { width: 31.58%; /* 223px / 706px */ }
	.system_list .s_l_01 { margin-right: 2.2662889%; /* 16px / 706px */ }
	.system_list .s_l_02 { margin-right: 2.2662889%; /* 16px / 706px */ }
	.system_list .s_l_03 { width: 31.58%; /* 223px / 706px */ margin-right: 0; }

	/* NSM | RECRUIT | 채용프로세스 */
	.recruit_type { width: 100%; }
	.recruit_type li { width: 40.625%; /* 286px / 704px */ margin-right: 0; margin-left: 10.085%; /* 71px / 704px */}
	.recruit_type li.first { margin-left: 8.66%; /* 61px / 704px */ margin-right: 0;}
	
	.process3 .contents { padding: 120px 0 0; }
	.process_list { width: 100%; }
	.process_list li { width: 34.0909%; /* 240px / 704px */ margin-bottom: /*120px;*/5px; }
	.process_list li:first-child { width: 34.0909%; /* 240px / 704px */}
	.process_list li.last3 { width: 31.8181%; /* 224px / 704px */ }
	.process_list li.last { width: 34.0909%; /* 240px / 704px */ }
	.process_list li .process_text { width: 93.75%; /* 225px / 240px */ }
	.process_list li.last3 .process_text { width: 100%; }

	/* NSM | RECRUIT | 채용문의 */
	.apply_write .limit { padding: 0; }
	.apply_write .top_cont { padding: 0 3.125%; }

	.inquiry_form > div { padding: 3.125%; /* 24px / 768px */  }
	.inquiry_form .form_data { width: 100%; }

	.inquiry_form_btn { margin-left: 40.49479167%; /* 311px / 768px */ }	

	/* NSM | RECRUIT | 입사지원 */
	.contents_list.recruit .table_list .col1 { width: 9.375%; /* 60px / 720px */}
	.contents_list.recruit .table_list .col2 { width: 41.666667%; /* 300px / 720px */}
	.contents_list.recruit .table_list .col3 { width: 6.25%; /* 60px / 720px */}
	.contents_list.recruit .table_list .col4 { width: 16.66667%; /* 111px / 720px */}
	.contents_list.recruit .table_list .col5 { width: 13.05556%; /* 94px / 720px */}
	.contents_list.recruit .table_list .col6 { width: 15.5555%; /* 100px / 720px */}
	
	.application .limit { padding: 0; }
	.application .top_cont { padding: 0 3.125%; }
	.application .inquiry_form .form_data { width: 100%; }
	
	.apply_view .contents_list { margin-top: 26px; }

	/* NSM | RECRUIT | 교육제도 */
	.educational2 .contents { padding: 120px 0 0; }
	.educational_list li { width: 40.625%; /* 286px / 704px */ margin-right: 0; margin-left: 10.085%; /* 71px / 704px */ margin-bottom: 100px; }
	.educational_list li.first2 { clear: both; margin-left: 8.66%; /* 61px / 704px */ }
	.educational_list .educational_txt { min-height: 110px; }
	
	/* 간편광고문의 페이지 */
	.inquiry_form > div.inquire_box { padding-bottom: 45px;  }


	/* QnA */
	.contents_list.qna .top_cont .top_left { width: 40.694%;/* 293px / 720px */ }
	.contents_list.qna .top_cont .top_left p > span { display: inline; }

	/* 사이트맵 */
	.map_list > div { width: 31.728%; /* 224px / 706px */ }
	
	.map_list > .successful_map { margin: 0 2.4%; /* 17px / 706px */ }

	.map3depth > li { margin-bottom: 21px; padding: 0; }
	.map2depth > li > a { height: 25px; font-size: 1.375em; line-height: 1.18em; }
}